{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "API Портала открытых данных"
  },
  "host": "apidata.mos.ru",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Получение списка приложений",
        "description": "Получение приложений, зарегистрированных на портале открытых данных города Москвы",
        "operationId": "Apps_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Фильтрация результате на условии истинности выражения. Поддерживает операторы протокола OData v2.0",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Указывает поле для сортировки результирующего списка. Пример: $orderby = \"Caption\", $orderby = \"Number desc.\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Ограничивает количество возвращаемых записей. Без указания данного параметра выводятся все записи.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Позволяет указать количество записей, которые следует пропустить в ответе.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Принимает значение allpages для того, чтобы в ответе получить общее количество записей. По умолчанию общее количество записей не выводится.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultWithCount<AppListItem>"
            },
            "examples": {
              "application/json": {
                "items": [
                  {
                    "id": 104,
                    "caption": "ЖКХ Москвы",
                    "description": "Это приложение поможет найти ответы на многие вопросы, связанные с эксплуатацией и обслуживанием вашего дома. Информация о доме: планы по отключению горячей воды, cведения об оплате услуг ЖКХ; информация об управляющей компании; общая информация о доме. Справочная и правовая информация: общая информация о ЖКХ, ТСЖ и управляющих компаниях; контактная информация городских учреждений, ответственных за жилищный фонд Москвы; правовая информация Интерактивная карта поможет быстро найти: многофункциональные центры (МФЦ); органы исполнительной власти (ОИВ); платные парковки; остановки общественного транспорта.",
                    "categoryId": 2,
                    "publishDate": "13.02.2013",
                    "developer": "Правительство Москвы"
                  },
                  {
                    "id": 106,
                    "caption": "Наш город",
                    "description": "Новая версия самого популярного городского приложения «Мобильная Приемная» получила новое название и дизайн! Сделать город лучше стало еще проще. Наглядный перечень категорий, удобное заполнение форм, мгновенная отправка сообщений – все это в приложении «Наш город»!\nНе вывозят вовремя мусор? Заметили яму на проезжей части? Не работает светофор? Укажите на проблему и она не останется без внимания города!",
                    "categoryId": 9,
                    "publishDate": "13.02.2013",
                    "developer": "Правительство Москвы"
                  }
                ],
                "count": 2
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Получение списка приложений",
        "description": "Получение приложений, зарегистрированных на портале открытых данных города Москвы",
        "operationId": "Apps_GetListPost",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "projection",
            "in": "body",
            "description": "Список полей, включённых в ответ",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Фильтрация результате на условии истинности выражения. Поддерживает операторы протокола OData v2.0",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Указывает поле для сортировки результирующего списка. Пример: $orderby = \"Caption\", $orderby = \"Number desc.\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Ограничивает количество возвращаемых записей. Без указания данного параметра выводятся все записи.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Позволяет указать количество записей, которые следует пропустить в ответе.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Принимает значение allpages для того, чтобы в ответе получить общее количество записей. По умолчанию общее количество записей не выводится.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultWithCount<AppListItem>"
            },
            "examples": {
              "application/json": {
                "items": [
                  {
                    "id": 104,
                    "caption": "ЖКХ Москвы",
                    "description": "Это приложение поможет найти ответы на многие вопросы, связанные с эксплуатацией и обслуживанием вашего дома. Информация о доме: планы по отключению горячей воды, cведения об оплате услуг ЖКХ; информация об управляющей компании; общая информация о доме. Справочная и правовая информация: общая информация о ЖКХ, ТСЖ и управляющих компаниях; контактная информация городских учреждений, ответственных за жилищный фонд Москвы; правовая информация Интерактивная карта поможет быстро найти: многофункциональные центры (МФЦ); органы исполнительной власти (ОИВ); платные парковки; остановки общественного транспорта.",
                    "categoryId": 2,
                    "publishDate": "13.02.2013",
                    "developer": "Правительство Москвы"
                  },
                  {
                    "id": 106,
                    "caption": "Наш город",
                    "description": "Новая версия самого популярного городского приложения «Мобильная Приемная» получила новое название и дизайн! Сделать город лучше стало еще проще. Наглядный перечень категорий, удобное заполнение форм, мгновенная отправка сообщений – все это в приложении «Наш город»!\nНе вывозят вовремя мусор? Заметили яму на проезжей части? Не работает светофор? Укажите на проблему и она не останется без внимания города!",
                    "categoryId": 9,
                    "publishDate": "13.02.2013",
                    "developer": "Правительство Москвы"
                  }
                ],
                "count": 2
              }
            }
          }
        }
      }
    },
    "/v1/categories/{categoryId}/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Получение списка приложений по идентификатору категории",
        "description": "Получение списка приложений, относящихся к заданной категории",
        "operationId": "Apps_GetListByCategory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "Идентификатор категории",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Фильтрация результате на условии истинности выражения. Поддерживает операторы протокола OData v2.0",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Указывает поле для сортировки результирующего списка. Пример: $orderby = \"Caption\", $orderby = \"Number desc.\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Ограничивает количество возвращаемых записей. Без указания данного параметра выводятся все записи.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Позволяет указать количество записей, которые следует пропустить в ответе.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Принимает значение allpages для того, чтобы в ответе получить общее количество записей. По умолчанию общее количество записей не выводится.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultWithCount<AppListItem>"
            },
            "examples": {
              "application/json": {
                "items": [
                  {
                    "id": 104,
                    "caption": "ЖКХ Москвы",
                    "description": "Это приложение поможет найти ответы на многие вопросы, связанные с эксплуатацией и обслуживанием вашего дома. Информация о доме: планы по отключению горячей воды, cведения об оплате услуг ЖКХ; информация об управляющей компании; общая информация о доме. Справочная и правовая информация: общая информация о ЖКХ, ТСЖ и управляющих компаниях; контактная информация городских учреждений, ответственных за жилищный фонд Москвы; правовая информация Интерактивная карта поможет быстро найти: многофункциональные центры (МФЦ); органы исполнительной власти (ОИВ); платные парковки; остановки общественного транспорта.",
                    "categoryId": 2,
                    "publishDate": "13.02.2013",
                    "developer": "Правительство Москвы"
                  },
                  {
                    "id": 106,
                    "caption": "Наш город",
                    "description": "Новая версия самого популярного городского приложения «Мобильная Приемная» получила новое название и дизайн! Сделать город лучше стало еще проще. Наглядный перечень категорий, удобное заполнение форм, мгновенная отправка сообщений – все это в приложении «Наш город»!\nНе вывозят вовремя мусор? Заметили яму на проезжей части? Не работает светофор? Укажите на проблему и она не останется без внимания города!",
                    "categoryId": 9,
                    "publishDate": "13.02.2013",
                    "developer": "Правительство Москвы"
                  }
                ],
                "count": 2
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Получение списка приложений по идентификатору категории",
        "description": "Получение списка приложений, относящихся к заданной категории с добавлением проекции по полям",
        "operationId": "Apps_GetListByCategoryPost",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "Идентификатор категории",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projection",
            "in": "body",
            "description": "Список полей, включённых в ответ запроса",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Фильтрация результате на условии истинности выражения. Поддерживает операторы протокола OData v2.0",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Указывает поле для сортировки результирующего списка. Пример: $orderby = \"Caption\", $orderby = \"Number desc.\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Ограничивает количество возвращаемых записей. Без указания данного параметра выводятся все записи.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Позволяет указать количество записей, которые следует пропустить в ответе.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Принимает значение allpages для того, чтобы в ответе получить общее количество записей. По умолчанию общее количество записей не выводится.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultWithCount<AppListItem>"
            },
            "examples": {
              "application/json": {
                "items": [
                  {
                    "id": 104,
                    "caption": "ЖКХ Москвы",
                    "description": "Это приложение поможет найти ответы на многие вопросы, связанные с эксплуатацией и обслуживанием вашего дома. Информация о доме: планы по отключению горячей воды, cведения об оплате услуг ЖКХ; информация об управляющей компании; общая информация о доме. Справочная и правовая информация: общая информация о ЖКХ, ТСЖ и управляющих компаниях; контактная информация городских учреждений, ответственных за жилищный фонд Москвы; правовая информация Интерактивная карта поможет быстро найти: многофункциональные центры (МФЦ); органы исполнительной власти (ОИВ); платные парковки; остановки общественного транспорта.",
                    "categoryId": 2,
                    "publishDate": "13.02.2013",
                    "developer": "Правительство Москвы"
                  },
                  {
                    "id": 106,
                    "caption": "Наш город",
                    "description": "Новая версия самого популярного городского приложения «Мобильная Приемная» получила новое название и дизайн! Сделать город лучше стало еще проще. Наглядный перечень категорий, удобное заполнение форм, мгновенная отправка сообщений – все это в приложении «Наш город»!\nНе вывозят вовремя мусор? Заметили яму на проезжей части? Не работает светофор? Укажите на проблему и она не останется без внимания города!",
                    "categoryId": 9,
                    "publishDate": "13.02.2013",
                    "developer": "Правительство Москвы"
                  }
                ],
                "count": 2
              }
            }
          }
        }
      }
    },
    "/v1/apps/{id}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Получение приложения по его идентификатору",
        "description": "Получение подробной информации о приложении по его идентификатору",
        "operationId": "Apps_GetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор приложения",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApplicationItem"
            },
            "examples": {
              "application/json": {
                "id": 104,
                "caption": "ЖКХ Москвы",
                "description": "Это приложение поможет найти ответы на многие вопросы, связанные с эксплуатацией и обслуживанием вашего дома. Информация о доме: - Планы по отключению горячей воды - Сведения об оплате услуг ЖКХ - Информация об управляющей компании - Общая информация о доме Справочная и правовая информация: - Общая информация о ЖКХ, ТСЖ и управляющих компаниях - Контактная информация городских учреждений, ответственных за жилищный фонд Москвы - Правовая информация Интерактивная карта поможет быстро найти: -\tМногофункциональные центры (МФЦ) -\tОрганы исполнительной власти (ОИВ) -\tПлатные парковки -\tОстановки общественного транспорта.",
                "categoryId": 2,
                "publishDate": "13.02.2013",
                "developer": "Правительство Москвы",
                "icon": "iVBORw0KGgoAAAANSUhEUgAABAAAAAQACAIAAADwf7zUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpGNzdGMTE3NDA3MjA2ODExOUMxMkZDQzczRjExNDQ2RSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo3NTM2RUREMzM3REExMUUyQkYxNUNGRThEQ0NBMDM3QSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo3NTM2RUREMjM3REExMUUyQkYxNUNGRThEQ0NBMDM3QSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChXaW5kb3dzKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkY3NEM4MEZBNDhFNUUxMTFBMTMyQ0QzMzg0QjEyQTFGIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkY3N0YxMTc0MDcyMDY4MTE5QzEyRkNDNzNGMTE0NDZFIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+8hImEgAAymJJREFUeNrs3XmYVNW9//u1qhuaGQUFFQQVcMAJjeI84QSITKJxwgFUZs05/9znPve59/zu/f3On7/nDMY5jonJSXISUTQOeaI5ibMnczQ5QYyJMdEA5+gJERDZ63bVnta0d+3qruqu4f0Kaaurqxuooqq+n72+67vlPx80TQAAAADoDCXuAgAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAAANRXt+Q+AAAAADoGKwAAAAAAAQAAAAAAAQAAAAAAAQAAAABAa+gWgm3AAAAAQKdgBQAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAADI0y0kdwIAAADQKVgBAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAIAAAAAAAIAAAAAAAaBPdkvsAAAAA6BisAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAB5uoWQ3AsAAABAh2AFAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAgAAAAAAAoL11S+4DAAAAoHMCgCABAAAAAB2DFiAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAAAQAAAAAAAQAAAAAAC0vm4hJPcCAAAA0CFYAQAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAABAAAAAEDb6uYuAID2pmr/Fsm9BgAEAABA+xX6tf4oggEAtEMA4NUcANqj4h/413PeQQCgJQMAdwEAtG7RX8cb96G4V4QBACAAAAAGq+5XDf4dZYHbEwMAgAAAAGhg6a/69d1VyZyfJXN/P5IAABAAAAB1K/1V7V9RxbKALFzzqwJJgBgAAAQAAEDfS39V7GrVj+P+3u+NU4G/5z8nCRADAIAAAADoS/Wvql2n+rAokEHmpgInDMiq5b4iAwAAAQAA0NfSv3rdr/qdAXIiQfI7ZiUBbwxgKQAACAAAgL6X/kpVuXGt+wdk4bQgqyQBYgAAEAAAAA0r/VXuj3JSgcr/Y0izOJfOz5G+1p/wj0QMAAACAACg/9V/9dJfZeYBVfufR1m/hR4JZO7qgbkgQAwAAAIAAKAepX9+3e8t+lXOb5lRzkv/D5RGxW+mAt+CADEAAAgAAEDpX7/SP6vutyr+qq1BVUf/S/t3SZNA1o/KiQGMCQIAAgAAdG71n9Xu75b+7iF/T92vMkOCecu8Vh+jIldalS/9SUA6v5EeA9y9ASwFAAABAAA6sfQXGQf+ixz11yv4pO7P6A5SVf8Y4c3cilxa9bpW9ptJwL8goO8NIAYAAAEAACj9+136K/16T9GfORvU17jj68Ox63nlSwLuggAxAAAIAABA6Z91ZfWeH+WW9U7p7y36vU1B1qfSvI0+9MeMBMpNAjL8XX0LAsViAPuDAYAAAAAdVP33q/S3dgArp+jXfpTK+VNZG3vTYZ7epn7zO5R5GL/2GMCYIAAgAAAApX926Z9zyN+5gRLVThMm8kptpdLyXYZH+qUdBqzvSKKDEQOSXGENDK11TBAxAAAIAADQwqW/Xv0rXwbIOeqvH/J36/7MaaEq7w9pnPQ3PZYf7Q5Iyvferyiljf4xi3N9QSCJAeF3yYzzBnhjQFa5z7RQACAAAEBTV/99a/evtfT31v1mI5BStfzhK8f74yP3ZhgIhwUpbU1AyfT6+LvTNKA1BUmr+ldMCwWAwQsAvJACQJ1Lf+E/8C+r9fxEB8SFNuFHr+CV/aWkzo869itfUs5Pljl/Tp3brhN+c3g2sLjWNz8q6SvJKzFA2xug/daywP5gQQwAgIYGAABAo0t/Uaz0jz9VGUf9tdJfWT9KKZXRTZT8EHtHsFuFJ4fxzYb/8PukdT4wkf7NnBigleh2DFCFYwBjggCgQQGA104AaEjpb1b/MrM0V3opHXfhGwf4ky5/aZb+SgsDMskGIo4Dzm+XNdTTc2KA6EdGjTxSb9pRMvqSlGmPkDJOJ5xdt0tZIAYkX2NMEAA0JAAAAOpf/dd+4N/p+bE2+Oqlf9Lqo301vLES9pBQ/TdV3kUAc7yPlPbQHhV3/Et9S0CUBCrH/u0YkFG3S+0YvxsDio8JIgYAAAEAANqq9Neq/EKlf3i8X9mbibWFgOw9ytIcEyTj3yss2GWyqddMAvoG35wYoMyz/4aLBlLb9Rv/FWsbEySyp4WSAQCAAAAAA136iyojPrNKf+34fYHSP4i+QTl1v1LK+1undf74SZMW3bZBlrqevufeP27eLLS62ej+V2kvUG8NLt0kIGWRGGDW7fGIIXNaqIg/Y0wQABAAAKAZq//+jvg0T9Zrtfvr11ilv97tY64DKGWfADjOD9r1Q4cPv2jFDWcsXdo1pPz6P+Nzn/vp888/fe99H33wYfLHlFoOkHHrjlTxRgY9CahK3V8gBkjn8L110oDa9wcTAwCgj+SdBx/BvQAAxUt/0aB2//j6QO/j1wp9b+lfWQdwkoCwTxsc1s4nz58796aVY8aPt/46e/fsefHbjz3/lUf/+vHHSY2dfpThJNA4CcRFutRuGd5AprEh/qrUviXu//GkC6EX99HUUWkGAL2a16aFOnND3fc5/hEDAAEAAJqn9BdZPT/K+DTwhQG99d+t+/XfYsrRMxevXz/16Jk5f9+dO3Y8/9Wv/eAb/7rn093SrMLTst6t+2UNMUD/Xi0bmL8LMQAAGh0A7iIAAEBfS/9q1b9vxGd2z4+eB4zD/E4LkDKO+itlnDcg/uGV/4wZP37+qptPnnuxlIVq4I+3bnv6/gf+/Zlng7173TJdO/xvHL+XcV9QwVSQxAkhiAEAQAAAgBap/ms68G9tAi5Y+uu1vnI+7f0QaEsKet3f+6trSPfZy5ZdfOP1PcOH13onfPDuu0/ec+8vX3wpPWbvJIFkQaD/MUA6tb4bA6xzkxWJAVnlPjEAAAGAAAAAA1f6a4V+eDnNA3r3f37pnxz1T3+CMtp+Zp5++pIN6/efPKk/d8iWn/3sibvu/t2bbwm9e0emzTx1iQH6j3VjgL5uIXOXAmqKAWQAAAQAAKD0L1T6i1pGfFoDebylv3AO/DuH+UXgHPXXa/3A3D8wYeqUpRs2HHXK7PrcM0r9/Ac/3HTPvVvfe8/ay6sngV4lMwaUpBYJtBhQSn6IEwO8+4OtGFBLRxAxAAAIAABQrPofgBGfBdv9A7PXPzCHhAbK6CkaNnLUxTdcd85lS7uGDKnvXRTs3fvSE5ueeeiRv/zndmmW7FkxoBR96tkxLJ39wcQAACAAAMDglP5iANv9k56fIA0DdpNP4JT+yVF/pbcPydIp8+YuXHXL6HH7Nu7u2r1z5/Nf/8b3Hv3apzt3Sm2wT1z3W6kgigHJ4KB0AUEKbwywh41KY36oYH8wABAAAKDJS3+R3e6vl++57f7phB/lK/17/3PI0TMv/9svTDligF7Md3z00Xfuf/DlJ5/cu+ez3gq7VC0GeC5X3n1K2gig6EvpNYwJAgACAAAMeOkvGj/iU/9UmD0/bvXvlv5jxo9bvG7tSRdeUHDEZx1t/cP7m+6996cvfL/3j6HHAOnuEjZiQAPHBFlfIgYAAAEAAOrW7t+YEZ/+nh8tBlRWACo/p2tI9/lXX3XRtdf0YcRnHb371q823nX3lp/8pFLMuzHAf/i/vjEgf0yQ6Ou0UDIAAAIAALRb6S8GY8RnTru/c6Rfn++Zlv69H449++wla9f0c8RnHb356qu9MeCDLe/UJQYUHhPkjwHsDwYAAgAASv+ipb9oxIjPerX7V2LAxEMOWbph3cxTTmm6OzkIXnvm2afuf+CjDz/UYoCnI6jItNBkx3BJSMYEAQABAAD6Vf0P7ohPpZ3qq2i7f+W7ho0aNe/GG85ddlmpq6tp7+09u3f/27cfe/bhR3bt2KFN+8mLAfq00KpjgnJigF7rsz8YAAgAACj9vVc2vN1f1DjiU2/3D+Kf01sdn3rJ/EWrV40aO7Yl7vlP/vKXZx5+5IePbfxs924rBhScFlrDmCCRjhBlTBAAEAAAUPo3sPQX9RvxGRgH++PqvxIhDj322Cv+5raDZ8xouUfhPz/88Kn7H3j92edEoPSTBshapoUW3x8smBYKAAQAAJT+OaW/GNgRn3ELkLfnx9/uP3bChMVrVn/u/DkDP+Kzjt7fsmXjXXf/6rXXzcYeWfLU/Y2aFmqOCUr6hhgTBIAAAABtV/33s91fDNSIz8CY7q+6e3rmfP6KQR/xWUe/+clPN9511+9/9WvZ4DFBokAMYH8wABAAALRh6S+abMSnv/R3Rnz2/u+4s89aum7tfgcd1G6PkVI/ev75J790//Y/vG9PC83pCGJMEAAQAACgb6W/aKYRn4HT7i8qIz4v/5vbjjjxxDZ+vD7bs+fFJzY9/eBDn3z8cbjNt6YxQcLODDWMCSIGAAABAEAbVv8tOuKzZ9SoBTetPHvxomYe8VlHu3fufO7Rr37/G9/8dOdOd1poSevnKWWMCRK5McA7JkjobUJmcc/+YAAEAABovdJftOyIzzMXLZy/ckWrjPiso4+3b3/6oYdf2fSk2ru3yLRQb4OQZ1ooY4IAgAAAgNK/OUd8Tj9h1tIN61txxGcdffj73z9xz70//8EPrTFB1WJAPccEWTGgXmOCiAEACAAAMEClv6h9xKfV7t/wEZ8TJy5aveqkC87nYQ399s23Nt555zs//0VdxgTVY1qodKt/poUCIAAAwGBW//Vt969pxGeg0tuH7f4ibgcKzHZ/Y8Rn5YeUR3xe+fmLl187pKeHh9Xy8xdffOKe+/787ruiwdNC2R8MgABAAADQSqW/aNkRn8efc87SDevGTZzIw5ol2Lv31aefeer+B/6ybZsWA/LGBCXTQo3D/0wLBQACAIA2Lv1F04/4POCwwy7/wm0zTpjFw1rEnt27n//GN7/31a/t2rHDHROUNS20+JignBjA/mAAHRIAjuReANBqpb8oduDf0+4vzPYea1+vcGp9Eff3C3uOp32k357+Wbk8YuzY+StvPHPhpR0y4rOOdnz88XOPfOUHj20M9uyxDuqX0stSa+uXJSchCPdUYkK6Q4H0EaLCWhBoTAwgCQAgAABA8eq/viM+PaW/SHt+zJ7+yjcH8Q8J9G3BesNP5btkV9cZCy/trf47cMRnHW3/05823fulHz//gggC9yTBbgzwLhRIs1/I3TEsjCBRrxggikwKIgkAIAAAoPRvbOkvjJ4f7Ui/NeTH1+5vHvWvbPk1bxnEl6efMGvZbRsmTZvGw1oX723e/Phd9/zHG/+ubwIu2X0+9iBRZ7twH2JA/5uCPBV+kYqfVACggQHgbgIAgNYp/YXZzONkgKwRn0bpL3J7frJLf32sZ2bpv8/EiUs3rJ11zjk8rHX3q9ffeOLue9/fvNkZ/iNLMt3vK3NOIFAgBkRflfoA0KxpoZ4YYF2W1bqBKPRrq1q4CwACAIC2rP6rtvsr4bmQMeKzj6W/cGd6Rv0/0b7hwGn97+7pufDaqy+46kpGfDbwX0sQ/Oh7z2+690v/9cEHegwoOZGgWgzQtwu700LrHAOcJFCllKXMJSEABAAAnVL6i2o9P97SP6vnJ40E5lQf4ZvuH+7uFSLvBF7KKf2T7zrh/DmL1qxixOfA+GzPnh98+7HvfvnRv378cVjNl/ynBfDEgJJ++F+LAaWwSq8lBojspqBakgCFawMLeu5WgAAAoPVKf1FLz09Ou396ll/nTF757f6BNQ/U6fmZNGPG0g3rGPE58Hbu2PHdr37t+9/41892786OAfae4JI0TwzsnEqscTHAe43soBJVDu4PJQwABAAATVv6C+Fr5rFuWWTEZx17fgJf6T9y7Nh5K288a9FCWSrxyA6Wj7Zue+r+B15/5lm1d28p8yTBdulfJAaUpFbi1xIDvEmgSBjwvElTtNZYw8t6/SCAAAAAA1X916Hnp2DpL+KJ/qL2np/yiM9FCy+9eeXwUaN4WJvBn959d9M99/3yxZfi4t6eFipE1PxTypgWGn5JCCMG6PuDq8YA4WwPyEoChUp/HtSiEUj2+T7kTgYBAABavvQXvp6fOA+oIL1x1Z4f43xegfldM048cdnf3HrgIYfwsDabt3/288fvuvt3b74ljLME1DwmqE8xQIjsBQGt1pScF6xogdLHYFDzqCXueRAAAGDQSn9RpxGfgdbuX9OIz6rt/uMOPHDJ+rXHn30WD2vz/ntT6mc/+OGme+7b+t57jZsWWiQGZCUBPQxQgPbhry+L5oHakgAxAAQAAGhU9d8iIz7TbwwvDx0+/MJrr57z+SsY8dkSgr17X9r05DMPPfKX7dtrHRNUMAYI5/RhehGZNRs067i1LFaLdmyRWrxwL5IEWIQBCAAABqj0F41p9xcNHvHZW++FIz73nTCBh7W17N658/mvf+N7X/2XT3fu7P+0UJE9KUjoG4Jzk4AoNBK0k8v6aidOy/1S8RMvkAFAACAAAGiW0l8034jPZV+4ddpxx/Kwtq4dH330nQcffnnTk8GePdLaG+CMCRLm5dpjgEgagqwkIGrfEMwIIPPOkUXq/v7HAO51EAAAoL6lv2i2EZ9Zpf/IsWMXrLr59EvmM+KzPWz9w/ub7vvSz174fu/DW2RaqMiMAXZTkB4DCiYB0cHbAPo/+VRm54GsT6UkAwBWAJhCAAAwMNV/jT0/SqiCpb89t0eEM3/ir6qosndWACoZwGgE6v1UdnWds3TpvBuvZ8Rn+3n3V7964q573v7pTytlvdH8U4rLxGhaqFbrhxGwJDPrfut8YSJ/M4DMKzFlB9SifRvV741K3tlKdYkBZAAQAABgEEt/Ywewcub9RxP903igcpp/zHI/qvjDy+EO4CNPPnnJ+nWM+Gxvb7762hN33/On377jnhBAjwHWIf+CMUDfE6yXknmlqqToFLJKqe/GKvd7svda6JclGQAgAAAYkNJfFBzxaWzzTa9P9gAE9t5f48C/Nb/fN8s/c9fvfpMmLVq9mhGfnfJPNwhee/bZ7zz40EcfftiHGJB0DQltG7EQniSgV5y+klSKjppNWfsCR9b5E9xFleIxoGAGIACAAAAA1av/gRvxmV36C3OIp9bcH+0O1vr+o8vlEZ9XX3X+VVd2DxnCw9pR9uze/YPHNj775a/s2rFDP1GAHgmsGCCczQPCWRBwkoAnDGSVmLJA/dnGhal+aD+7O99T4heMAfkZgEUAEAAAoIbSXzSg50dp1ytzKcAMA3b/Tw3t/lKeMGfOknVrxo4fz8PasXbu2PHMw1/+4eOPf7Z7d34MEPHeAPdUwcJ3gjAh7BlBVvGZs+G1o0rP/PUQ78YJ/znXsmOAJzMUyAAEABAAAGAw2/1FPOJTK/ezen6Sdv+8uZ+TDz/88i/cdujRM3lY0es/P/zwqfsffOO7z/X+KykSA4Q5Skj4TxUskjUBITyTgkR+4dth5WfWoCTphIGsJCA9gYEMABAAADSw9BcNHPHZp56frHb/Ufvue+nNN506by4jPmF5f8uWx+++91evv56U/t4YIHMbgZKS30oCImM/QIcVndmldu4OAe88JZkTA2Tml/IzAAEABAAAKFj9N9GIT63d3+75KQ3pPmfJ0rnXL2fEJ3Js/slPH7/rnt/9x6/dGCC0LcLWyYOTvqC06Jd23al9KotUve0fAjzXSF91bt2NRhLQa32p1fFVlwLIACAAAMDAl/4DOuLzqNmzl6xfe8DUqTysqP4vX6kfv/DCU/c9sPWP71sxQNhTg8xTgzlJQJjLAiJrNE1utSk7ZFHAjklpHsiYrJrurnbjQe0ZoMpjBBAAAFD613PEp9XuX3jEp9nunz3ic+n6dcecfhoPK2ry2Z49L2168pkHH97x3x9bjUD5fUFCSwLC3QosZa0DZ9qyBrVPh5wxAilrmFJODLBSmZsBsucCSQIACAAAqP6zrmmZEZ9zr1t+7uXLGPGJPtu9c+dzj371+9/81qe7dnpjQNgXJMz1Ab36lOY236x+dCFlR5WbeaP9fVsmrIrf7PzRKn5pZwAzM2T0ZWU3AhEAQAAA0HGlv2jZEZ8nX3zxpbfcxIhP1MXH27c//dDDLz/5HRXs1WaASq3cjEt/33FoYexblSK30bztK86cwOM79u8Zq2rFAKM1yyn3a8wALAKAAACA0r+upb8YkBGfU2fOXLp+HSM+UXcf/v69x++99xc/fFFYZwJ2+k/cWTRS2NOB0oLUqTM7JQO4dbbMXC2xTrDgjQH6eRisVJCTAbyLAAQAEAAAdHjpL1plxOfo8eMXrFzBiE801G/ffOuxu+7a8vNflOL+HqsYtZtV7Poy72y1bVtxelr8M4+1u/slvGdX0O/5UoEMoO8H8OaxrEUAAgAIAAA6rfpvpRGf81fc0DN8OA8rBsDPXnzpiXvv++Ddd92zAfi6U4TdeSKrT8Ns79JTOn9Vqz/KLM3dJCDdVZfkmlL1DOBpBMpaBCAAoN2effcQAABK/76W/snVSvuPXv2LtND3jPi0jvSLpNzXjvqXI0Feu3+0GnDUKacsu23D/pMm8bBiIAV7977yzDNP3v/gf2/bJuPtvubZAKTwn7XKPBuAaP/CX2Ze6TsSL+zN094zLusxQDqpQM8A7mpMtUYguoBAAADQqaW/KDbi02z4ETkjPsP/hAfyg/Q2Rp9PYJf+evVvzPnpvdH4yZOX3bph5imzeVgxWPbs3v29b3zzua/9y64dO6S+IVW6da1RXdZyPuC2qj+tE/p6c1FOsa4vuYStfqXKZ6W47q+aAby7hIWxCEAXENo8ABzFvQB0ePWvMr6Ye+Df0+5vlP5Oz088+SfvZF7Kd3Rf7/MR2q6AYSNHXHT9decsXdo1pJuHFYNux8cfP/PIV36wceNne/bYc+jjcl8623wzi/60LG7bytN3Wi57jJJwevqtOl7v7QlTgfRlgJJT8fsnBQktapgXCQAgAABok9Jfu7KG0l9oTfze0l94BnqaScA6uu8c6Xd39yqt9O99S589d+4lN61kxCeazfYPPth4z30/ev4FFQR6A7qn6He+mlMit1/Rn34q7Vxk1P1GS5Xn9AvxpzIrAzjnazNmNBEAQAAAQOlfc+kvnOE/ytr76/T0x0f3ox+TtPULc5Sn2fCTbAhWU2fOvOzWDVOPon0Rzeu9zZu/ddfdv37jR8IzgNIu+jNLzPbtAbIyjzTPyKvnJekkATMGGEsBpaIZoMoiAAEABAAAbVz6+6v//HZ/UZ+eH2VvBbZ7ftKKP1kfGDV+3MJVt5x80YVS8l4MwOPvz784zAAlzxZhaZ+8mUUAdCoaZ4HOqv771u4vqvX8FBjx6W339+/udXt+SkO65lx+xUXXXcuITwA5gnArsFKBDEt8pW/n7X1B6S3nK1eFF5NblD+EN1UU+iAAAGib0l80oN1feHt+fO3+wjmcr/X8GIN93BWAY844Y/G6NYz4BFDgpa9c2Yu4xA9fpMI1w94vybjKT5JBkgOo+0EAANARpb/I6/nJbPcXxjF+u93fGfGpnCP9vnZ/bfpnGBLCb59wyJTFa9cy4hNA0RfAcplfLuZ7X2FKUnuhk0lAkDmLAPrPodMQBAAArVr9t8KITxXvCdZGfI4aedF1y8+5bGlXNy9TAGp4DQxfpmQ4cKBy8F/Fxb00i3t3EUCwDgACAICWLv1FY0Z8Vm33r8OIz4vnLlx1y6h99sn8iwFAVgCo9PMH0VCguCMoPsgflv1Jr7+388e8ksUAEAAAdFLpL6qO+HRK/36O+Dxk5tGX/81tk2fM4GEF0KfXw0rpX67Zy4V72PyTLAJIu8TXe4PsLiCAAACg5Up/MQAjPoM4NvR/xOfo/cYtXrPmxDlzGPEJoD+viuFRf2V+KiqLACoZ/G8mAA7ygwAAoFWr/4Fp9xf9HvFptft39ww99/LLL7zmqnjEJ00/APr6whhX+cq3CCCj4j+zC0jfBkAqAAEAQFOX/qL5RnzaN87o+Tn2zDMXrVnFiE8A9Xp59C0CpEf6RbwI4HYBAQQAAK1d+ouMnp/8dn+RO+IzLNxF/UZ8Ll2//siTPsfDCqB+L5K9LzJSXwQo9/4kl6yXTimyriAWgAAAoEmr/xYd8dkzauT8G284a/GiUlcXDyuA+r5OKvPkvmZZ7+kCEsY2gLzKn1QAAgCAwSz9RcuO+DztkgWX3LRi1NixPKwAGhMAokWApPlHP+2X0eXvXAAIAADaufQX/RjxGTUL1Tji87DjjrtswzpGfAJo7Ium1MJA2gWkLQrY8z6p/0EAANBqpb8oNuJTTwgDPOJz7MT9F95yy4lzzmPEJ4AGv3KG23/D4/15XUBZlb/vfMAkBBAAAAxG9d/SIz4vuvaaocN6eFgBDMCLZ/qKZHcBWR+NU4MBBAAATVT6i1Yb8ZkM/Dn2zDOXblg3buJEHlYAA/cS6ukCSj6TWS+w3s0AyfeyBAACAIBBLv1FM434DPRbxiM+Jx4yddkXbp0xaxYPK4ABfiGNu4CMIKDMbQBaG5D3Z1DtgwAAYDBLf+E98J/f7i8Gb8TnsNGjLlm54oxLFzDiE8AgvqJWXtikksm+X3+Zn5wOTFXCgWRrMAgAAAa7+h/QEZ9V2/3DC4E97jO6ILtKZyxYMG/FDYz4BDDor6tOx78+9DN3AQDohADAMwAY3NJf+q/0lP7GOWu0L6afqoxkodIfk9zSKP2j/8WXfXN+wg2+3tK/95ppx89asmHt5OnTeVgBDH7xHxf7Mn7NTH4J63LlllJ4fgntgv6jgHYIANwFwGCV/hlXFh/xaR/1F3oFn7b3xDt6kxsoax0gLui10j8o1u7fe3mfifsvWr36hPPO5WEFMPivrpXD+2Ya0PfyJmcCTg61UNKDAABgMKr/uo/41Df76tcEKv00v+fHKv2TEZ/6nJ/unqHnX3nlBVdfOaSHEZ8AmuplNjobgNA+Kt/QTxIACAAABrr0F/Vu99c6fHLb/a0W/xqn+/dec/y55y5es3rfiRN4WAE07ctsej4wrd7P3BcMdFAA4AkANEPpb60CyNwRnyou62VS7evbfMujL8wWIBWeECeZ+RNUfoug8g2BCE+Xo8UAqdKBP1I7/F+5fND0aUvWr2XEJ4BmfLENX+v0hn2ziz/d/yuN70o/cxuDqJTQhgEAwKCV/nb1r5xvsXt+jNH+2oF/31JA0gIUj/b3z/wJKpkgMFcDAt/23xFjx8y78QZGfAJo+tfd7HGeGWcDYEkABAAAA1D9e0p/kdPzU0vpL3wd/P7Wfy0GZO4B6P1/V6m37r9k5YoRo0fzsAJo5pfdaN2y8tEKAsWrfPIACAAABrX0F1rPT/wG5+wByCj9KyW+ECJwL2sVf+A57296tq9ps2Ytu+3WAw85JPMvBgBN+dqrMq6kuAcBgGcBMMClv8x5czJHfMqk9BfGiE+pl/6Vml6apb/URvvLsMSPbhZ2BJVLfGme31doPT/R2b72nThxybq1x511Jg8rgNaRDPoML0gpkpP82psD4tMAiIxrjJ8JtFMAANDA6j+/3V/kjPi0e36cnb7mvP9A+zRjvmdS+tsn99UXAcJeoCE9PRdce815ly/rvcBBfwAACAAAqpf+ok49P1bpLzw9P4VG+zsn9I2+MTw5QNojJOUJ55936S037TthQvbfDABa6dUYAAEAGJzSX2T0/OS3+wvnwH9Gu3/U85PM7BfCOthvHPgPtMAQxAlh0ozpi9etmX788TysANrgxdl4sVWc+xcgAACNLf1Fv0d85vX8KJV0/4ffX0PPT+Cb/zNi7Nj5K288fcElUvLmCKA9X6vzq//wZrwCggAAoG/Vfz9HfFZp9+9rz0/S7q9PCFWiq+usRQvn3Xj98FGjeFgBtN8rMwACANBMpb+odcRn1XLf7vkJ7HMCGCsAh5/0uSXr1x4wdSoPK4B2fLWWdej5oW0IBACA0r9I6S+qj/gUGSM+a2j3Twb4iKgXqIaen/GTJi1cdTMjPgEAIAAAKFr9t8SIz8Ap/YcOH37+1VeGIz55WAEAIAAAqF76i1Ye8blozaqx48fzsAIAQAAAMHClv6ix5ye8TeBermXE52W33Xro0TN5WAEAIAAAqKn0Fw0c8anST90Rn4FKeoFqG/F56aqbT5l7MSM+AQAAAQCotfpvmRGfvWmh1N199tIlFy+/hhGfADr8Ndy9DUdEQAAAUO/SXwzyiM8jZ5+8aO1qRnwCAOU+QAAA+lX6i8EY8aniVqKCIz4Xrbnl2DPO4GEFgNpTAXkBBACgI6v/1h3xeeG115x3xbKubp7dADrz9ZzyHSAAADWW/qIx7f6i8SM+P3fRBQtvuWkMIz4B8Npe043Lr6DcZ+ikAMA/eHT424P0X+kp/aVzIfyiTFv+M0OEMDr1zU8LtPsHzoF/oYxvn3zkkUs3rD1kJiM+AXQ0Gb+qS/Ma/Zd1vX2bShiQzo+SvrcMoFUDAHcBOrb0z76yvyM+vTt9RXTM3jjwL9IGnmi8v1nupwf7PTt9K98xevy4eStXMOITAGp5E5BWo3+1tqHo63QXgQAAtF/139+en6zSPz7wr8LR/uYhfPvAf5DZ52O0/ocjPi9afu3wkSMz/2IA0JGv8Cr+j5K9r5cyLNuVU8HnF/T6Vyn9QQAAOr70F/4Rn2Yk0Ht+ahvxGWit//Zm33jE55L16yZMnszDCgDGq7qvVDd2Bquo0ZOCHgQAgNLfrfWta6pP9/eV/vaIz8Cz8bdKu7/e8zN+0qQlG9bNnD2bhxUAcl73lbRfyaXZyWPt/a18h9RuDBAAgDaq/us44jO/58fb7q8f+Pe2+4uM6f5Dhw+/+Prrzl66hBGfAFDtBT+t9QskBSnsqJC5RYBsAAIA0GKlv2jMiM8qPT/F2v2zVgDCEZ8nz7v4khU3jhk/LvtvBgBQlUE+/vcCpa0CePv7telw6dfjSwwLBQEA6JzSX/Sr56dvIz4DLSFMnXnU4rVrDpl5FA8rABR8/XczgF736xW/1LKB2wDkPd7PIgAIAEALlf5aLZ/xPtFsIz7nr1w5++ILGfEJAH3KAJ5a3VoGyKrm7evNz8kAIAAALVH9t9iIz3OXXXbR8mt6hg/nYQWAGt8Fyu06ycJsOAm0/LF8ZaXjP9kinLEPOGOhwOgC8p5NEiAAAK1Z+guj56e2dv9qPT/5KwDhiM+Zp526ZO3q/SZN4mEFgNreCyolvF7Oq9w3jri+j1YFZHx7qa0NmLsB7J0ALAWAAAA0dekvmn7E5/5TDl68ds1Rs0/mYQWA/sQAvXRPOzPjhKBv9lWV/0pfNa8f4885KRhLAWjFAMC/WLRV9W/PgKt+4D9aBBa+A/zh0R77GqO+lyoq/qVZ7su43JfaAf7y92s9P+nlYaNGXXjtNWcvXcyITwDo9/uCjF+fhVach4f0oy9VPpFxF5BM9gArrZiX8QdnJJBn5wBLAWitAAC0Sekvau75iU8VX2XEZ/xpfGjf+tQ90u/d3RuX++kpfoP4MFV5xOdNK0bvu69gwCcA9PutQcXH9UXyCixlcuzfbeKPO/6jLQBS2yccdgdJ/TC/MjuEnN+dGAACANDcpb+wen6UsUysXeMp/f3t/mmDkPKdzytuE4oSwpSZR15264aDD5/BwwoA9XmPUOkk/6Toj1+fK0uy8YZgkWz5rSQE6b7LOJP/lZEBhN4+RAwAAQAY+NJfFB7xmbb7C0/Pj3B6fsp7c63SP6zjRXyOXiE8Lf7Jpt4kIQTaQsHo8fteunrViXPOY8QnANTxbSIq9CvDf+xJnkYeiEYCJQN/4td+bRFAmyVqn0PA3Cws6AgCAQAYmOrfrvb70fOTVfrrx+9FfAi/SM9PmBm8PT+l7q45V15x/lVXMuITABrxTqGs1dpyHjCP8adbgaOpPuENhHlK4LjCNxqBpDMXSLuh5w9DDAABAKhP6S/q1PPjG/GpCrT7e3p+0oP92s30FYDwDADHnHn6wlW37DfpIB5WAGjQW4bSanNvF5AMe4Equ4B7PwmEKOnvF8bJAEQ8HtTOAMJeCsjsCCIDgAAANKT0Fxk9P/Vq99dGfPal3b/3/xOmTlm0dvWRJ5/EwwoAjXrXiPb7Jrt+475/Ia2twCL+qojyQGVqm5TKKNuTL9kZQHiWAkTWqYVZCgABAOh79d+3np+a2v3dI/1Jz08QnyE4q91fmD0/yW2GjRp54XXXnr1kcamri4cVABr6xmG2d2YuAsSjQsv/D6QqaZV9VPfHzT/eDCD6tBRADEDTBAD+JaIVSn/hPfAvC7f7y/T9QOg9PzKq2uPKvvKpTD9VInzb0Ab+SG07r9TO6iW15CCjhp/eP+Hs+XMX3LRy5NixPKwA0PC3j/AVu3IgPy76o04flX6MqvjwSE2psjdApSeDkUndH799xBlApBlAmNW/fdSfzcFo9gAAtGLpX/tO37TnR6UdonoPj0j7f/Tz+2ZO+g/0W6pofSDQRv4feszRS9avmzx9euZfDABQ3zeR8GB/2N5THvcZnXKxpL/Cy94X8HLRnhz1D5d3VXJkv/KNQjsbgNsLJLVWH3spQLA5GAQAoA6lv6htxKeyr1T2HoCM0j/u/o9GfJrzf4zWfxV3+Ogn+YpvP3b//RbcfPMJ553LiE8AGPA3E+kdARR+rByskSX9bABx6d/7ml+KM4DSa3snA8SFvfAuBQg2B4MAAPSt+u9ju79d+ueO+FQ5w/7tk3wFIvNgvz7kp7tn6DmXXcaITwAYFEE03T+u7+NFgOSgj5TaloC4+z8s/aWWAfQwkGwFKGkH/lW6JUDouwIEm4PREgGAf3ZohtI/47iIp/R3D7To/5XGDjAnNGjXpMGg8v/AaAFS+km+zOYf5bYJJQsF5RGfq1ePP+AAHlYAGLy3lbT/RllzgZIIEB/+l+khofhEAck7UHrmgMqWAZXuB3DewNJdAcJ8U7OWAoRvKUAQAzDwAYC7AINb+mdcWcOIT2fIj6ih3d+a+WO2+wcqjgFaxR/4Sv8JU6csXb9+xgmzeFgBYHDfWcIX6lJ5GIMsOWNAg0rZn7QAhbeRUddQuY4vbwuOi3x3HUCv6JP6XjlX+pcCBJuDQQAA1X/mNZ4D/0Xa/d3SX2T3/CTlvrCbeexJ/96KP+n7HzZq5Nwbrj/j0gWVEZ9s9QWAQX1z0Y70px+1RiD9NkFlM0BQqf8rjUDl2OBmgN5LstL/o2UAo2KX8dg3weZgtIiuhftM4F7A4Jb+ok9zfvQD/9b1+e3+Ts9PPLIzu+cnMM/wpeLX+tMWLljxP/5u+qzjZanEIwsAg+7g6dPe/uWbuz75JKzaw49RUR1eitp6Kl8TIm7ykfEVIrl9fIVIbpBeNup06Xwm8jqCsm8m3JsBjSG/dMjR3Ato3dJfFOv50ZpB7UWAQKRpwe35CTLa/acdf9zCNauiEZ8AgKbRW/1vfODBf3tsY+VkLaIkZElGH2X5kL8oyehj8lVZKfDDm5WvDJODiBJCSUQ3kNEt9aigfapV9UmqkE5ZXzADEANAAEAHlf4it+enMe3+tfX87DNh/0tuWnninPN4WAGgaf3uN7959H//w3ubN5eEVv2HSSAu63MygIy/mmQAEV+ZFP1RQS+T0l9Ks7DXs4FV0xMDQABAx1X//R/xaUSCAj0/eru/iHt+8kv/cHFAHwM6pGfoOZcvu+CqK4f09PCwAkCTC/bufWHj408+8OCnO3dVKvtyOd4VrwPkZICwuC/ph/+TMGAuBYg4LQj3GmEsBbjVv7TLfJlV8ZMBQABAa5f+olHt/sLb8xOImkd8ZvX8HHvWmYvWrNp3AntmAKCV/Neft3799tt/+dIrskoGSMp9OwNECwKVMr4Ul+PaUkDaEWR1/rAUAAIAKP1bdcTngYcdunjdmunHH8/DCgAt6mcvvvTN2+/4eNtWbwaIm3/ST/WdANaWgL4sBaQbBtgcDAIAOq70F8VHfCrzZoMy4nPE2DFzr7vutAXzKyM+AQAtbNcnnzz54EMvbnxcBUGSAWS8Jzg+8F/ZA5DsBNC2BCQ7AUpG3c/mYBAAQPWfd2UzjvgMzMWB5Dayq3TKJfPnXX/dyLFjeVgBoG38/jeb/+Uf/uH932yW5lwgXxdQZjuQdymgkg2EYHMwCACg9O9P6S8Gb8Tn4nVrDjrsMB5WAGg/wd69P3j8ie/Em4P1DKAvCCR7BryDQYW2K0CwORgEAFD6ixYc8RkuBewzYf+Fq1cdf/ZZPKwA0N7+689bv/XFL/7ypVdK6X6A5DwA6cZfvR2o6lKAYHMwCADozOq/TiM+jQ4fMSAjPudceeV5VyxjxCcAdI6fv/TSt2+/4+Ot29wuoGQFwGwH8iwFsDkYBAB0bukvBnnEZ1TKiyojPtPkkKwAzDrv3AU3rWTEJwB0oN2ffPLUQw+/tPFxoQJprQBI45C/tRSgtwYJNgeDAABKf2HX+sY1zTPi86Dp0xauXsWITwDocO/9ZvM3//Ef39+82WoHylwBMAcEsTkYLRcAjuFeQD1Kf9HIEZ+enn5hHOm3D/YbLf5pX1B0+95vHDF27MXXLT/90gVS8moJAChvDn7x8SeefvDhPbt26iOAjDyQrAmkB/ijXcIi3BYclvt6d5C7MiDYHAwCANqh+u9Pz48xxie39E/b/c0Rn/Y8n2SQv17xJ/FAdnWduuCSeTdcP3zUKB5WAIDuo61bv3X7HW+98oq9CdhpDZLaVgER5wRth0B6WVTZHGxW/CwFgACAdi399Su1nh+tycce8WkvAgRxeAgP9ouo4teqf3sFoPzptFmzlqxfe8DUqTysAIAsv3jp5cfuuOO/t26TaXN/WuKXrHmgeh6IlwuEpyMo/VTkLwWwORgEALRE6S/6O+LTLv2FZ46nPdgne4Ov0fMTHv7f94ADFq665dgzz+BhBQBUtfuTnU8/9PDLjz8eBEHBpQDpnDdAmGNDRZXNwSKrI4jNwSAAYNCq/wEZ8env+Qmn/QSqlnb/ym16v7Fn+PDzPn/FOcuWMuITAFCT936z+V//8Z8rm4PTpQC9xDdPC2CcPiyrIyhcChAiOYlY2hHk2QNARxAIABis0l80rN1fOJN8RDTiMzmPr9Hz4233z+r56X1BPf7ccxbcvHKf/ffnYQUA9EFlc/CmZx56+NOdO62lgPikAWwOBgEAlP59avcXxXp+3HZ/3wqACkd8Ll635rBj+BcOAOivj7Zu/fbtd4abg5MBQfpSAJuD0UoB4H4CAKqX/iJ/xKd2IW/Ep9YLlPb5CN+IT8/lOCfYpb+WEJLmnxFjx8xbseKUeRcz4hMAUEe/eOnljXfcWdkcbDYCeWNAsj7g6QjybA4WTgzI3xwsnEUANgeDAIB6Vf95B/710l9k9Px42/2d0t9qAfKfyrdqu7/s6jpj0aKLll/NiE8AQCPEm4OfUPHm4GQukF76ezuCkvYhEd9eaDsB+rA5WOR0BLEUAAIABrL0F06HT1L6C3N0T1TuK6P/J9B6hMzOfq36Nyf9h3N+jjj5pIWrbpk4dQoPKwCgof5QPnPwP/+xsjm4eEdQWLKXsjcHC/NEwqLY5mDR16UAYgABAJT+maW/KNbz4474zCr9RYF2/yCKEVV7fsrXjz/ooEtuXsmITwDAgAk3Bz+rbQ62Sn99QFDJWQpIL9sdQdKzDaDA5mArBrA5GAQAVK/+C474tA/8Fx7xmdPzo/X55LX7Wz0/YfU/tDLi87zPX97V3c3DCgAYYB9t3frYF+988+VXSuZSgDUsKGtGUNbmYJmxFCByNwcLlgJAAEDB0l/Ur91fZB7490/3V0Xb/Y3W/7Dnp/e1cNa55166+uYx48bxsAIABhGbg0EAQAeV/qJYu78IW3p87f5CeE/lq3X5280/lRGfM2Ys3bB26lFH8bACAJoBm4NBAEALlf6icSM+lara7l/ziM9R++47d8UNsy++iBGfAIBmw+ZgEADQ/NV/K434LHV3n7l40QXXXMWITwBA02JzMAgAaLfSXzRmxGfgbf4xR3wuWr1qwsEH87ACAJpfeXPwHWwOBgEATVn6i0Ea8em2++eM+Fy4etXMU0/hYQUAtJZoc/A2NgeDAIABr/7rO+LT2+5v9vx4W/z7MuLzgmuuOXvpYkZ8AgBa1O6dO59+8OGXn2BzMJoqABxKAGjn0l/0refHV/qLuI4XOSM+lfEla3an1dOffEtgbgYoj/gU8nMXXjB/xY2M+AQAtIE/bI43BycBoNp+gHCVQJi3sVYDhBsDjKYgs+KXdASBAEDpX630F3q7v7/0zx7xqVSg3T7p51HOYX5zD0D5PwcfdeSi1asY8QkAaCflzcFPxJuDoyI+Kt9L2jggY59A5lwgo+4vujk4tyOIzcEEALRN6S9qGPFpfk+Vnh+r3T+n/yfp6df3BxsrAGk70Ohx4y6+8frZFzHiEwDQntLNweZSgL0CYOaBaE0gYylAeDuCjKYglgJAAOiU6r8O7f7CPPAfhwFPz08y86dAz48z719FIz4vWn5Nz/DhPKwAgPb2i5df3vjFu8qbg81GoKw8UJIZm4ONup/NwSAAUPr3tecnt90/e8RnUtbntvtbSwHh2J8jTj5pybo1+x10EA8rAKBDlDcHP/RI+czBKogHg0aFftWlgGQDsSiyOVgkI0HzYgCbgwkAaJPSXxTr+Sk+3V94e370o/4Z7f6+FYDyt+03edLCNauPPPkkHlYAQAf6w+bN//qPt9e6OVjkdgSxORgEgPav/hs+4tPu+amx3d/p+QlPAtAzcuT511x11uJFjPgEAHSyYO/el8qbgx9hczAIAKhe+osGj/gMMtr9RQ0jPpPS3xjxedJFF8698XpGfAIAEKpsDr7rLTYHY6ACwLHcC+1e+qclvvnV/BGfcQyoXBGoJDOoSomfZgOz58cZ66ndoPfClKOOWLx2zcFHHM7DCgCA5Zcvv7Lxi3f+97btWkeQmweSy8nm4KTQ93cE1b452Cjx2RxMAEDzlP4indHjKfqN6r/AiE/7SL/IaPE3e3uS4/razczdwEm7/+hx+86/acWJ589hxCcAAFl279z5THlz8KbK5mDjpGDGkX4ZnU5YZpw+LNktUEpKf2uTgKi6OTi5KASbgwkAGKzqv8Z2f8+Bf9+IT6P0z2r3DxcBMmKAv+KP9gMoUeruPnvZkvOvupIRnwAAFBFvDn7btxTg7fyRpbiPv2RvEujP5mDRn6UAYkDzBoAHCACtUPqLOvX8eNv94ys9pb+IJ3WapX/S0mN/S+BsBZ55+qkLbrmJEZ8AANQk3hz85crm4JyOoCKnC7A7goQwY4CWAQp2BLE5mACAQSj9RbGeH+8sf2/pH341qKwLBPF3ha3/lZ27IudUvlHpH8eDMAZMmHrwgltuZsQnAAB99tHWrRvLm4NfTbf/JgOC9EagZHhoRkdQqVKJl4T0bQ6OSv3czcGCpQACAAao+q9Lz4++2TdNCFWn+5sH/gOz50dpm4P12BBmhuGjRs65+sozFzHiEwCAOihvDr6jvDk4WQpIqvmSdmhfnyIatv6XsjcHi/gMYv1cChBsDiYAoF6lv+h3z49vxGf10l/4e35UuCag9/ykc36Svv/Kv6jPXXTBJStXjhw7hocVAIB6KW8OfviRVyqbg7UVgHQpwLsrQJrnEBDaqQPYHEwAQFuV/qKmdv+43Bfx8ftk0aBwz0/U7j/lqCOXrF83afo0HlYAABrhD5s3f+ufbn+/sjnYygDJzB8ZH9ovmZuDk46gepwuQNARRABA3Ut/0Z8RnwV7fsK+HWvEZ5B81dfzkySHwJzzM2a/cZfcdNOsc89hxCcAAA0VbQ5+mM3BIAC0fvU/ACM+C7b7uz0/Oe3+Q3qGnrV0yXmfv4IRnwAADJhoc/ArbA4GAaA1S3/RkHb/Po/49LT7Z434PPqM0y65aSUjPgEAGBRsDgYBoH1Kf5HR8xMdwu/TiM/wmH2/R3xGpf+EKQcvXLPq8BNP5GEFAGAQsTkYBIBWqv5bdMTnsFEjLlp+7emXLih1dfGwAgDQDP6w+e1v/dM/v795C5uDQQBo0tJftOyIz9nz5869/jpGfAIA0Gwqm4OfZHMwCABtWPqLQRrxeehxxyxcdQsjPgEAaGbx5uDX2BwMAkBTVP+D3vPTtxGfYyfsN3/FjYz4BACgVVQ2B9+lbw5ODvCXfEsBRTYHsxRAAEBtpb8ottm3bgf+69Tz0z20POJzzlWfH9rTw8MKAEALiTcHP6lU0LpLAWQAAkC7Vf+NP/Cfd26vtPq3e36izHD0GactWr1qnwn785gCANCiks3Bdd8VUHxAEBmAAED1X736r3pm3yId//058D9hytTF61dPO+44HlAAAFpdsjl4z66dhQYESWm2A/kHBNV+rgAyAAGgYwJAn6v/qm0//Zzy6e347xk56uIblp86fx4jPgEAaCcfbd36+B13v/XqqyXzDAC1tgNVGRJaYEsAGYAAQPVfU/Vfc9tP9VE/yVygrq7Z8+ZeuPxaRnwCANCu3nz5ld4Y8Jft2/rQDqSfLyxjSwDrAAQAqn/9YsOq/8A5uW+1th/tNnHbzyHHHnvpqlsOmnYYjyMAAO3t0507n334y69u2tRbEOgbfEs1ZgDtnMF1zwAEAAJAywcAz+H//lX/Ku7yr63p33ty37ET9pu3cuVxZ5/FIwgAQOd4f/Pb37799j9t3mJtCUhK9jgPyPR8Ata24L5mgCqzQVkEIAB0SPUv0t299an+izT9l0d8XrHsnMuXDRk6lEcQAIBOE+zd+8qmJ7/7yJf37NyVtS24ylkCCmSA4nOBimQAAgABoEUCQF7zT+7Ez+zOn5qq/8A36/OYs8+ct3IlIz4BAOhwH2/duumuu38VnTm4Lxmg6n4A6/wA1TcEswgwAAHgQQJA46p/c6anyG7+UWkA8E/8VHpZn1b8xsCfwLyZPuk/GfF5wGHT5t1y02HH8aADAIDIW6+88uSd93g2BxfrBUozgH6uAN85wkS6dCC8JwcQWkhgEYAA0JIBoNbqX2jlvrf6F8bx/tqq/+Fjxsy59pqT581lxCcAALB8unPXdx955PVNT4abg2vKACX9vGDxLFFhZwDjeH+xDMAiQAMDAOd7akj1L3IP/5t9Pna5b3T+xElCZcz5sSt+/axeldGfsqvrc/MuvuC65cNHjeIhAwAAWf64+e3Hb7/jg7ffDkcACWHPCEpPGhDNCJLxecE85wuL+nzSzQBpL1DORCAtAAgWAQgALRYAajz8r2/81Xf6Rj8pqf7NJOD0+pvVf+81U4875pI1qydMncKDBQAAqgr27n3tyaeeL28O3p2U9ekFo76XWXW/lQFKtTcCEQAIAC0TAIod/vec3FdoO33dsT/es32lASCt/o12/7H7T7j4lhVHnX4aDxMAAKjJx1u3feeue37z6uvaycKSMGAFAPvUwkI7qXBS91ubAWTubmAtA9AF1KAAcBgBoD7Vv6jx8L/V/CPsnb5pxS+yOnx8J/rtveWQnp4zPn/5aUsWMeITAAD02a9ffe3pu+75y7btyTaAUsY5wrzrA/YkUMkiAAGgbQNAzYf/3eaf8AC/yOjw8U78jBKClEefdeb5N143dn9GfAIAgP76dOeuF778ldc3PSWVyj1hcJVGoPouAhAACADNEgCy+n+KHP63p/5nLAUk+3r1c/0mN5gw7bCLbl459ZijeWgAAEAd/entLU998c4P396SHNc3AkDGIoBIFwpEwUWArK3ABAACQLMHgH4e/g+0c3654318ewDEsDGjz1l+zQlzL5KSZwQAAKi/YO/ef3/qO//2yKOf7dotnUagfi8C0AVEAGjB6l/k9v/kD/8pfvhfL/rDw/+yq+vE+fPOuubKYSNH8qAAAICG+u9t2567+77Nr71uHuw3FgH0TqH8RQDrnAB0AREAWiwAFOn/sWb/9+3wv97/M3XW8RfcvHK/KQfzcAAAgAGz+dXXn7vn3h3bttdrEYAuIAJAaweA/P6f/Nn/xQ//73PgAefceN3hp53KAwEAAAbep7t2/fDLj/74yad7KxQZny+syDigUo1bgbO6gAgABICmDgBFtv9qh/xF/vCf7mHDZl+29OTFC7sZ8QkAAAbVB29vee7Ou/+8ZYu3C0hoASA+J0CVrcB0AREAWi4A9Kv/p8qZv5QIpDzirDPOvfH6UePGcf8DAIBmEOzd+9PvPP3iV7762a7djewCIgAQAJqx+hd96/8xD/ln9v/sd+ihc1bdfNCRR3DnAwCAZvOXbduev/f+d157vX9dQFVmAREACACtEQBqGv/v7f8ZNmb0mdctn3n+eYz4BAAAzWzLa6+/cO+X/rr9P+s7C4gAQABomQCQc/6vpOM/f/6P7Oo6fsEls6+4rIcRnwAAoBXs2bXr5Ue/9vOnnhZBkLENQF8Q6Nc2AAIAAWDQA0A9NwD0mnzCrDNvvH7cwZO5twEAQGv585Z3vn/n3Vvf+W1DtwEQAAgAgxYACpwBoPoJgPUAMObAA06/4fpDZ5/E/QwAAFpUsHfvL55+9vVHv/bZrl11OiUw+4AJAM0XAPp/BoDuYT0nXn7Z8QsXlLq7uZMBAECr27Ft+4v33f/u628QAAgABAAnAEg54+yzTrnu6hH77svdCwAA2klvAHjxvgc/2b69fwFAsA+YANAU1X9dAsB+M6afvvKGCYfP4L4FAABtac+uXW989etvfecZEQQEgMEPAA8RABocAJS2PUAPAL2/Ruyzz4lXf37GnHMZ8QkAANreti3vvHT3fdu3/FbItB2IAEAAaNsAIMxNwLK7+6j5c2ddvnToiBHcpQAAoEMEe/f+6unnfvK1r1c2BxtjQAkABID2CQDCGQM66YTjZ6+8YcyBB3BnAgCADvTXbdtfu//B917/EQGAANCSGaDAGNC8LiChDQISzmBQEZ8POPoWFS0paN9rzBES+vfGc0Xt39Tzh1TW30spb9pRVeMQAAAYoBqu2tXSrJ7NCfrSukF6jt60Ik9H8ptd++mnpfhHVU70q90+c+aPkNH/PGcCDv9gxU8ERgDoM8ZN1uHpp7Kv17/a+29XL75lWkCXvxJdLn9D9H9RmQ4kVfSlytNFxTeqVOmVK9LfJHxeKCGThFB5ximl4j9MdPNka3L486T29FHxH055/loyv9xXpAEAABpadciaI4HeZmPc0nfm3bgWN0r/JCGEXy2ZFXx8Di9P9a///nbHv1l+6If/QQBogyAQ/YO26un0Gu1rUvtJKv00yg1pBtCyggqfgUomSwFuDCiHiOjWSk8dSZRQWgEvRXJm40JPQkUMBwBgkCqPGm6WFtdpiLCOtet1v3CO3DvXxMf4s6t/qSWHdBFC1vy3YFRKIwIAd2r/qWr/hpVZ3hv/6ONj8Mr6Ke73WNfI5BTCMirck2vCNQVp9R3J8FZxDLB7gWSaLMzCXhXPADWHBgAAqOXr/B0yt4SWzrVu572Mjvtrpbxx4D/+qtk7FIYB7VvMw/zOT3D+cP7+H+Mn9OtuQxoAUL/nr9Pko4xa3biB1Ppt0gI8PmavHfUX+jKBqvyMsEkoPKCvN/yIqKtHJQ0/lSSgwiQQ//zo+aKiw//Kegoplfmc6k/prhr1fCVPAACavmBv/M+V1UoUt5KW/khgNwVJbxuPNJOAt/o3lxTMP6Td0E81TwBouZcBqaqVodaBf731P6zFK208WouOjAp8PQPIaNdvfEupFfIiurEKn34qrvvjJ2pc7kdbAJTSmvOcTh7lL7RVI56c/d45wCsGAKDVKoeGvXd52+hz6mxruo5eqet1v9AP/EujKUj4qv80TOi3NBuKCt4V9P8QAJoo+Ku+3t5aJdBvYG3yLZfxZgZQYbN/eLlSqCf7hcOvaKsB2v+NMBBfJ5Oy3l/z++ryvKdgn8t4xRMbANBhVcRAfq9TQPuP/QunUrfLd3MrcHrgP/4eaxuxeeA/bf5x/wxCeLYjgwDQYpne7QJyvyL983/0MGB8k7YOUKmZ06WANAZEm4Ljnb3pAFBrcpYyjuWrjJeU/LpcZb4k1RAElOJ5DgDo6Jqh/8W/7MP3uCNBpRsDzLrcV/oL3+zOMCjYmweyIoes6e9PyUAAaP2QkN8IlJ0BRLQUIJK9BTJp7El+loq6gIwwkOQBqQ30lBmlfdWmJtWnYxOq8NOe1n4AQMu/4zfgljV9l3EwP/cnmBfSY4fmUXmjstcP/Aun7184pySQ1g83v5g9/r+e9xgIAPV9hmduA9C3AieLAOZCgT74384AKn4u6TEgnugffVDx1t40CSSjgeIwYEYI5a2w9d2/npMDFH/i2ecPy9sArHhiAwAIBt6qvU/viLLY9c5B/7Qwd2px6QwIskt/Ebf9CHsNwTP5R1Yr7kEAaMFntfRvbLUygNAahPRD/taG4LRw177VjAEiaQqKtgO4Jb20Sm2ptI4g43epVs6rImW/rOGFTmb8XMUaAACgtat8WVvhX2MFn/ulav1CvoUBaZczZn2fxgN7qGjS9iOcbQNu67/10wt2/9P/QwBoluyu+ndjtxHIygDCHbwjjY4epT3Hoj0AIl0TcMKAkwqcp3tOV4/yfmK19DhXe8+PkLVQoniqAwDavXgoeH3VJYCsefiy9t/dLO+FfcF3rgAzFWQc+Der/8wTEmevBLBEQABojaCfHLR2FwFyGoG8GUBEX5Ke4ZtODNCfb3GXvzngX+mVd9YxdyE916v8Fxp/H1G84uBPPmY8cH9qrUf+WSkAAAx6Ed+/uj9j6VwWTAhVfnxtTUFOM7D3Zlmlv9DafkRG9e+t7GWDHwUQAAb5hSM3A2gjO8Oz+XqXAuJnXeUGaUO/sp5+SX0s9freV9OrrHpa5tf67vCftI6XvrJeO9WwzKjkJTU9AKBdMkD+sXx3m2yB30jWmgqqnj5XVksL5pqArztI/znSPnWAt/rPb/6R0v/HAwGgGUp5+/lTdRFA+4ftzQDx4Xvt2/JigEhPtGGFAadGz3sWKd9RCGWfHyyt0pV9SzcnqKLjytIfWLQvSXEYAADQ7Hkgt2+negu+cXXembyKlfU1vWl6fjspZVYeyCj9ReHqHwSAjsgM1t5fNwPos0HdGKDXwHYIkdKsy8OD7SqzlM4ICd4XDmUeojBm+5ipQNl5QeSdV0AK747kAi+grBMAAJqy+O9X0Z9Z8bu1vqx+cL/oH9rdn5u1HCG9pUJ26V+1+ufw/2AEAO7VOr8SxIsAyq3irQwQPsOVZxBQ+vz39OOEewPiElhZzx/fCXwzjw6Yp+LKzAnK/0IglVHEK5lXkEvlyRH2ucCU78VR9eNlFwCAJokF1U6Alb0N16iFa+7sFxmbDaQs+lfw/cCseT4Zpb+df/Kq/6rv87z91yMAoH/PcJX7tYxdsPo6QNwLFJ3k1xsDhPeYuJ4E3DxQpIw2I4qdE5TSynuns0i4fY0y/jM4o0W1C0ZOMfcz+zOMrBIDAABo3rpfVD+5VbXSX2bux82o1KXo0ym0aprCKaX3D+zJJ7VW/9L4cVT7jQkA3K8NeP5L69RXORlAaEsF2TEgfbYYJb6zwqBU1ol9nRThY/807XdS6QBQIwz4Nx9XFgSEyolMUj8/sZT+rQVFsxYAAE0cANy61i7WfT9ECvuQv8g9ca+7jVjW8sfLnxokc/cy5/0hpf3nLF79iz6OP0KBAMBd0P9nu8rKAHq1m/2NejtQVgwQxhbh5BrlPaiQMZvfEw+ckKCy/mpSO6mYihp6lMpeZAjPZpYkIc+PqqWmp/QHADQ/1e8hoUWqf2lVyDKrO79qdZ1X4lctuGX2RKOsqCOr/0zn7wYCQEvnA5k7d19vj7FjgPCeJTfziaGyt9vKjM2zWjt+9Z27Kt2dIPUYoLx/R2s1JKusV5lVvqryUks0AAAM1ju8zHnbktXigcqvg6tX/57SX/p/Ul6VL/v6N82MHJ4NB7LAsKNC1T+BgADQhEV+RumbmwHcGJD222hJQOScvqtAKiiSEIz9ANpO3aQ4d1+2KicsSM9fpuwj/f7iXyVxI7v6V9T6AIDmpnxHvZw3ZScD2F9QqsA0zJzq31f6a8fai54kuJZxRu41/gahKgNMa63+QQBopWMDStv4mtP0Ij2vF0YS8IQBs1iW1Y+X5xyxUN5nsor+7FKPAUa5n/27Km0jgMqu/nNKf1XgJAAAADTBO77nbUsfl2c39Cp9CnaaAdJ32Lx2opzq31P6FzkdUNECPft20l/J1/KTq1X/ZAICQDM+87Mre2MpIH+mjfQfOXBPnauV0FXDfW5CsFKBngSUNqVHn2kkPWcLVlWDh139K89YIetqlf/jyAYAgAGv8v1vQLLq+5I0o0L8thod1/OsA1RW7GXVP4Nb/UtZve6XtZf4GV+p+bTEfSj9qf4JAK2aAYSzFJBfsHoWDWt4IqisVyVrbTJrk7EbA5QqtGfXqOMrP8VT/ftKf+U9C4GirAcANAtV+GvSkwqMxYD0HTZdCogygL4IUB6nYR4EVJlTdDKrf5k1mjO/os++ouhCQS2lP9U/AaA9M4AnBrgnx6r9GaXyF+KyX6KUua9A2T1IUvg7cJy/ojMYNKP6tw/8++v+jIpfFX4FBgBgkEoAIawR3voKvG93gLSXAqIJIGlWcFb/pfZfVe2MY7LaVH7vRVn8b9u3+6iW0p/qnwDQSi8AhWKAEG4SqLW8rfqs8C4duJuM9amjqnCq8fX329W/e+BfL/1z24FUwfuEQAAAGIRi3/delLlib3YDqXgPndRuoMUAmb75KiWlswjgbQ+q9gd2pvK7caD+ZXfO8kHVvwGlPwGgPWNAWv3qzwdVzxpX+n6ONXU0GfkjMzKA9QOU85nKrP79pb9b9yvPERP3NGf8ywIADL7Mjl/zbDy+U3Dat1Dmkry2R1hbCtAygDAXAYSzLOBWGhnVfw0jevqRi7wdRbKPPwoEgNY6QqCq3MxsEvQlAFnkB9XSSmSdhzhjPqnM2pKrtEP7Rrmv0q9Gx/jTa9K4oMyi315JyDj0T/0PAGidZCCVGQzisRraPL/0tDtODLB6fCpb8czuoHIs8L6zF6gEqp+Tq+aKXBatcyj9myQAcFc3SxKo/jyRVcbhuzkhZ9yQMo5ZKHe+j9IGFievLWnFX672pVn9S/PAf/hVFV+Z/OmVVvFXbqP8hb7yzzslCwAAmvF9PnP2pbbMLaXUp2knCSD8YF2T/OBku7C1Q0BJ/bc21gSUtQgga6j+a9j2W4+Z/VSigxIAMAhJoM9lbJGnmb6GkLPPOPP0ve4P1I7Za9W/tg6g0qP+yTF+rfSPrtV/iNDqfuV81Fof+3uPAQDQYJ4Z2drpNdPj9LLy3ie1MBBeGZ1Ss/L+LaXW0qOit/V4WGjlRuY6gFbPq/BYm3teMVV4TGdNozmp+AkAaMgTQPXxx0o7DBQb4uneQulz+7VAkFP9xz0/8W3i0l8LA8op+o1mId+fRdXlngEAoEFv5cq6Lh32oVf8Ip3XKZIZGeUkkH5PZWtgJQbodb8eCVQlXejdQVJUHRBUoEPIXE2Q/b9PQABAw59CeX38skoGyBnML7T2/bB8V1qXv1L+A/9W6e/W/Xp4EOaBfzsDVDkbAFkAANAsb9FRFR7325gr7WHZrqQZBqRI18TDJCCjiRpaDIg+qFLcDlSSypsBKt+Z5IlouaCGyZ7Z1T9lPQEArXIQQssAeeVzcsjBntGpVNHqP7xlfumv7wxW3k3A6R9UqcIFPgkAADDgb7gq76t690/SAiSV1vqfhgE3CWTFgN4fEMTtQEH5C9YuYSMDhFV8Mi9U2xigfF1CedU/pT8BAK3xwlSkJnbm9yef5lX/QfQ6E9X3QTr3UwXRNxulv7dZKG0K8mwLNmOBcz4yyn0AQFNGAv1TvYM+nradNgVFLTxx0S/tJKDCT9MYEKaHUjo1NG0HSot5IwMYu4CtHiL3pMLpW2z1EwODAIBWoITbxW8P4hRO/73enFOp7Mv1fXirwHvg3+7/Uc5CQVz3KzMDpEnAMxLUX/QrIgEAoClq/aiet29gFP0i3QQsk0ggVRoGoo2/WhKQ5eP7RgyoHP5PlwJkZSmg94pSvPW3ZGSA6FoRjxdKTzAgtdtVKf5BAECLh4CM6/Te/SgtWDV6ZvWvohUAp//HKP0Ds+4vdXdNOnzGQdOnT5g6dfykg8aMHzds5MjeXzxEAIBO8Nmne3b99a+7PvnrXz/6+M+/+/2H7777p3fe+WDLOyJQSRKQKkkFegxQlcxQvqQvBQSVVqBSeKH3fbZABqh0BSnlPQ2wCocOkQXaPcc+PG0W90IbV/tK6++3bqBqrP6Nol/ZKwCBWfoH8Q+pXC+Gjxp5xGmnHnHK7EOPO3ZITw+PEQAAiZ1/2fH2j3/8H6+/8fa//2jPrt2lqAAvH9SPYkA4LVRWrhFRDEgulMIbxLcsLwXEtxTpl6KGIBlvStCvSetC4dkJQBogAKAFA4C/+jf24/ah+g/06r8SJQLzqH94g8lHHjH70kt6S//uIUN4aAAAyLHrk09+/vz3f/TMs9ve+0OlsjdiQCntCEpK/8wMkNwyzAAlrayX6cmJtZmkZgYgABAA0MrVv/Ac/tfb8Y0wUC7lM6v/pNtHb/sJtM3B8QpAGAnElKOPmrP82oOPOpIHBQCAmmz+0Y9f+PKjH/723VJypL9cxFtLATVkgHhVIV1PiGv85DZGABAsArR3AHiEANDeAaBA848+9idIk4DVyh+V9fFCQZQN4pulewN6L0w87JA51y2fdgL/tAAA6PM7unrzpZd7Y8BHH3xYSsp6aYSBpMovRU1BdtdQKTolQHIDTwbIagQiABAA0JrVvzAO/xdo/omHe2ZX/+ESQRDfJkjDQPnT7p6e85ZffdK8uaWuLh4OAAD66bNPP33hq//yxhNPqWBv1BEUF/pVM0ApXi6Qzs4B4TQCsQhAAEC7BIDc5p+s6j9t6Ykb+uMD/CrQmv7D2+grAJNnHrn4C7fuM3ECDwQAAHX0x7e3PPFPt2/7/R9K2maAUnyMPwkGNWWA5ITEOY1ABIB21bVk3AHcC+2YBFRGNlDuObaUMQhIuNW/0qp/vek/jgHlUWKzFy5Y8re3DR89mjsfAID6Gj1u3HFzzv2vP//5z7/7vXZ8Pp7lL5NziCVFu/FJekutEUgYjUD2bmB3EYAAQABAcxb9VUKAVeXr3xXeNinuhX5ir7gFSBjd/2ke6O7pWfy3t5666FJZKvEoAADQkIqtu/uo008dPmb0b3/2i0AFMiMDJEW7TM8sHH3dPBmZVtmzCEAAQFtnA2V+kjb/COscXsk8H3PXr7nlt3zNiH32ufZ//o9Djz+OOxkAgEabdPiMA6cf9utXXwv27jVKfycDaJ8k/0/XAYTV/e/bDUwAIACgtcp9VfXwf/J1lfyKm4PizQDGvP/A6PuPrh8zYf/r//5/7Td5Mvc5AAADY9yBBx5y3DG/fuW1z/bs0Ut/qXX9yPSC3hFkNwLpiwDJf3MWAQgAbYOejbYp+qt+SVm30w//Gwkhav2PPqaD/9O+/3L1P3bChOv//n+y5RcAgAE2+Ygjlv+v/3foiBHJSG59lV6lY77D5t7kTV+lGwKVcTRQqwWKVBQgAKDpkoDyPmPdw//aICC7+UeYG3+tF5feC6PGjbvm//u7Mfvtxx0OAMDAm3jIIVf/3f/dNXRoYHbq6vv0VHxyz+j8P/rbfRoMlLszsEhpAQIAmj8EeA7/C/0UYL7mn/B70lP8xjN/hgwfdtX/83/tO3Ei9zQAAINl0uEzLv8//49SV3cg0hPyJAfy9Dl+aU+vUwA4xYOyqweKfwIAWjALGLHePPxv7P1Nnvxm84829id6cZEL1q+bMHUq9y0AAINr2qzjL1hxvbVon3T+aAf40iOB6bi/7EUAan4CAFqjyq9+A8/hf+Oj0o4WCPN1RD8N8CkLF8w8/TTucwAAmsHJ8+cdfc5ZQfzebWwGsAb6CWW+9WctAvSr5EBL6GZHd3slgcr/pPUs1ft84sP/Ujv8X7l95croY/l1RKZfjT+Wz/V7wfXLuZ8BAGgeC9au/vDd326vnCe4XOVLGX+MSoLygbzyeYLLU36inX6ViUBhnSBlWjNULpeLABXP/Akv9JYNkpKxjbAC0PaRIPfwv7Ug6DlmELcAKVUaOmThhvWc7QsAgKYypKdn0a0bZFdX8padDPoL4n3AQillnu5TGFsBtZMEcZi/A3Qz1LUDIoBUae+fjE8SIONaX1ZeB6RKPpYPF/S+ZMhwU1FQuUHvhTlXXjnuQM4aAQBA0zlw2rTZl1766saNXdEbd+XNu3JAv/cNvbIyEB7bDw/865dFcnBfCe1MYR5UjO2Do7ntVOkbx/qVLwoYu3ySM3/F36nPAhLaXuFAiYmHHXraoku5kwEAaE7nXnXFPgccEKj0fKDx0M+4PFDam35cBljlgdU8rFcUDANtJ11Lxh3IvdDidX/WJ57+H6GMzf5JoR9obT+isuU3SK6sfMvCWzfsy+F/AACaVamra+Q++/z6lVcqp+6NTwAcnf03PPVv8jFaIhDxyYMrJxKOL2hfS475c0rgdvvXwl3QCQlBOWleaNsArJkA1uH/3ktTjjn6sFnHcU8CANDMjj7jtImHHarioSDCWQRITvopjAP82hmCuRMJAGiL4t+KAcbCX1r0K2M6mDIP/5937dXclQAANDspz7vm6vBtPRDumr9xFiCnGPB0AYEAgFaq91V2/4/xVevcH0qfCBS9cEw+6sjJRxzOfQsAQPObduKsZBFAf1tXZg0gtFP9aAWCXjDY5xJFO2EPQNuU/pmbc7L6f7K2/+oXAqHmXHfthClTuIcBAGgJpa7u37zxRqnS8J80/ctwQ0DU9Z9+jL4kRLxPQKQ7A7K3AbAHoNV18xC2cyhIzt8RP3WjTyuH+ONP9VnAxqGA3i8MHzXqyFNmc1cCANAqjj7j9O8+8OBnO3dpb/zJRxWfDSye+BmdE8ws9CsfZfk0YtK9ngDQDimRu6ADY4HvDMHGecKTFHD4qad0DRnCnQYAQKsYMqzn8NknV97QlTng22rsUcZ/QABAC1XzWSW+SjfzJ4f4zZGhSr+N/gOTZkHB4X8AAFrOkaedqo38V9Ygf6Vdq88C0hOBUlUqDRAA0OwJwTr/l7Jngyo9DCQTgUpDhhxy7DHchwAAtJZDjz1GdnXpZ/hR6VnAkt1//jOCeYsHEADQ1LV+zvXusX7lTAnS+38OmjGje+hQ7lgAAFrL0OHDD5w+3Rr7YxUBKqNIqFpOgACApi3/VdatkknA5pXGSUDCXwdNO4z7FQCAVjRpxnThGfqpzGN/nqOBeeUEIYAAgGYq/lWBW3gigtP/Z8SDCVOZ/gkAQEuaMHWq/kZvHeDP2AdYrKAAAQDNmwp8m/vNs38n5/uyNwCEXxt30EHcjQAAtKLxkw5Menr1bQBame/ZBqDHBEWpTwBAy9T9ns5++1PhW+/TuoCiF4sRo0dzfwIA0IpG7ztOmZN9VLVtACKjhCAIEADQemFAOE9vYbwcWKV/+l09I0dwHwIA0IqGjR7lLQa82wCsSxT9ba+bu6AD84A+ANj8qr7kp4aNGMErAAAALRkARgyvvKWHp/0N637PCXzL18qoQuD8vp2DFYAOKf0zhwQp+3bpQIDuoZwDGACA1n33T5f63WP+yreflz2+BAC02JO8D5/ZO4AzvwkAALRwbWAU/WYgqDZIXFEbtB9agDrphcAYDGTvAbZ2APNEBwCg9d/6hZJRd0/87i/Nr0sZFwlS0gTUKVgBaJNkn/3E9x/X9275VwVOBAgAAFq0TqilKlD9LkJAAMDAPsVzZ/faI4B4SgMA0MY1glP3q4JzfpSi8G9PtAB1SuIv+n0qfXHgOQ4AQCsXBOHgHynSJiCZUQBI+5L7NbQRVgDaoNxXVsr3Fv2qwOEB4TsnCAAAaNkiwfioCtzY/dRdQOCObXXd5Lp2fLJL86mr7/7RTwKQjAROvqV8gQwAAEBbFASy8rYu43d5+4JSUkhZ2Qgc7hROakLrU+GUi1SPrY0VgM58RTCn/yv9Wip/AADa7Z1fxe/w1uBvDucTANCZYaDYdQAAoC3e6nmbRzdLOJ3wvK88ykpWgr6MV/4q7T7ppwn+SQAA0Dast/joV9j3k9YAlWagykfjZuYv4fuIVsQKQLtX/wWO8KsC3wIAANqgEigyI4RKgACAznh1sHYFsDwIAADv7yAAoF1eC6rkfgAAQDGANsaJwDrmqd6X5zevCQAAdFCpIOnr7wysALRnmu9zOc9cMAAA2qUwUH0oAPpTRaBVdLOFuz2jgCz6peS1QUllnhCM5zoAAK3MPP2Xis/ulc76EVpV4P3UvSyY/tMOWAEAAAAACABodxzcBwCAYgAEAPC0BwAAlAEgAICXAAAAwJs+CABoz+e44hUCAID2KgRUP78fBAAQ9wEAAAUDCADgaQwAACghQAAAAAAA0ES6uQuQFfRJ/wAAtNMbveIsXqhgBQBU/AAAAAQAAAAAAAQANCeO3AMAAEoOFMQeAPA0BwAAIAAA1P8AAABtGQDYDN6upbvUdvpL82POLwAA0H5kn34J57JwPkVLBgAevs7IAjnX6zdQPKMBAGi7sl/4inlvPe89eOjWBpQKrY1NwAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAECebu4CZFPcBQAAAAQAUP8DAACgVdECBAAAAHQQVgCQiQUAAACA9sMKAAAAAEAAAAAAAEAAAAAAAEAAAAAAANAauqXkTmhD4aMqVfmSii8kD3Xvp72Pe3RleFmU9/yGF5JfAACghYsBGf+qXE6vEVFV4F5OP02+JblZUl2Yn6IVsQIAAAAAEAAAAAAAEAAAAPj/2XsXYNmuszBz/fsePZFfyAjJlvFDxrEB2xgwb8zDPEJwYEh4JhSpomaGmkkllcrU1AxVU5WZmmSGgUnVDCEwgRBiiBnb2BDMwwaByYABxbIs2/JTlmQ9LQlZsi1Lulf36u413Xu9/rX22rv7dPe55+zd36ejc/fZ3adP79V7rf/9LwAAwAAAAAAAAAAMAAAAAAAAOGEcUMO9T3R9f/x3UzuITwMAAIDZUDT5qx6YvAtg0elHei8I0zYAAIbsBSwBAAAAgLlBChAAAAAAAAYAAAAAAABgAAAAAAAAAAYAAAAAAABgAAAAAAAAAAYAAAAAAABgAAAAAAAAwJHDPgAwCLsAAAAAAMwPIgAAAAAAABgAAAAAAACAAQAAAAAAABgAAAAAAACAAQAAAAAAACeMA2EMZoQ1xn2gkh8bdSCjT8ueTBsgAACAydJXAIa+V79M7bg4gKkaAAwBjBoUAAAAADArSAECAAAAAMAAAAAAAAAADAAAAAAAAMAAAAAAAAAADAAAAAAAAMAAAAAAAAAADAAAAAAAAMAAAAAAAACA3XHAPm4zxeafrB34oON5t+cXNwMAAMBs6O/ta4b3+a1+NwPb/qIwTBsiAAAAAAAAGAAAAAAAAIABAAAAAAAAk+aAIYAhrGUMAAAAAOZnAFDFsdc6flfGoyuBRdcDYwEAAABMln4dr4z+aFYdVH+ECUIKEAAAAAAABgAAAAAAAGAAAAAAAAAABgAAAAAAAGAAAAAAAADACeOASu5ZIrXj2O9HH1R3A+euAAAAmIc+MCToZeAJ1S8zcAAThQgAAAAAAAAGAAAAAAAAYAAAAAAAAAAGAAAAAAAAYAAAAAAAAAAGAAAAAAAAHBcHDAEMYhkCAAAAgLlBBAAAAAAAYI8gAgAjEAIAAAAAmBtEAAAAAAAAMAAAAAAAAAADAAAAAAAAJg01ADAIFQAAAAAAszQAhFGYl9IuWzzN6fyy9usAAADAiUXUd3cQv8zAQfW3igODkjB1SAECAAAAAMAAAAAAAAAADAAAAAAAAMAAAAAAAAAADAAAAAAAAMAAAAAAAACA4+KANk4zw6puXg7Jzw99md4xGwEAAABMl6pwX1MTGNcQikahMDmIAAAAAAAAYAAAAAAAAMAcOWAIYBhygAAAAADmBhEAAAAAAAAMAAAAAAAAwAAAAAAAAAAMAAAAAAAAmAYHNHHdI9xeAPp78VBxAAAAAJOm2r1ft/Ef+l49qP4IE4QIAAAAAAAABgAAAAAAAGAAAAAAAAAABgAAAAAAAEwDdgKGQSgDBgAAAMAAACwAAAAAAJgwpAABAAAAAGAAAAAAAAAABgAAAAAAAEyaA/Zz23tcpn9/W2BLEQAAAMDE0dv/Sr677zqbA5uBDYHRHqcNEQAAAAAAAAwAAAAAAACYIweEcGZJ/FitiuTZPAS4TtgPAAAApq4PFN/7WUHFGbPGQ2gLk4YIAAAAAAAABgAAAAAAAGAAAAAAAAAABgAAAAAAAGAAAAAAAAAABgAAAAAAAGAAAAAAAADAkXPAEMAgliEAAAAAwAAAmDj/6Id+WIxpRBpjZMFyKxNpZPndb3TiTy6fY/yOJ/5I/DePDJhL1ljr/onHZvmPO15+WWvzJ1v15H/5xv93g+v6737kR+Nblfyt6otaPkHMDq+rtdlFuYfaeLHWtuE5/+rNb9qrO+2pc+fuu+OOB+++58G7737o3vue+Nznnjx9+uwTTyzOu9HW4ywSBz/bWme6++zY8kd/wtryOYuHDi666JLLL7/4sss/7+lP+/xrrr76i77o2hdfd80LX9g0DasTqxOrEwAGAMC2FPK10fI1nIlCyB1rdS08JANKTyeD7PLR7ptJ4lMW/4qXtWKiWHIv2Z1Z/CQbx12aJFxF1pCsO7mu1liniCyPJQraxd9aSFlZPLo4bLoTrd2XiNLjj37uozfddOvNN3/iQx8+d+bJ/lCfSopNZTdNEenfsVPX/jO9X6LeH28tac89dfqzjz7x2Uc/88AD99566/u7s5c//YoXv/KVL3nVq17yqi+/6OKLWZ1YnVidADAAADYVRUG+OpnUKI9a9KsV4kpLIxlW1Jy8NF5eBqfUQmoGmeQ8T91riXe5iQRB252U5Cg9/HWtJVwbfS1bX5cEBaIVe8os5aj10nT5h4x/yDgpO/tb666PfuzGP/mTj9544/lz593wngqjWag+cZylVPSlqvFPaPCqqpT112Btz0hwp6pT5sznHrvlz//i/X/+rkuvuOJVr3nNV33bt155zdWsTqxOrE4AGABwgb14sxCxQb5GmeSFrnenJb9aJmWD0KrqajacVaFz720KzjP/+itdbt1Ju9F1yTpOtUIf3fq6/IF0HrXFSDph6gLryx+7B72UnW9Zya03v++db3nrA3fe5Yb9lGRKjCilX9kAkns3c41/urk/Uiwitngs0/tNFhBwylyYDkmNO/v44zf8wdtvePvbX/KVX/HaH/yBq6597mwNAFYnVicADABA/T8S/UQLoSBfo2utyYVrE9xyRgkqM5iVISqh1gej25pO02Wgejdb4XJr7YbRaOUvzIWrVKSs7Oi6WskUtXYZau8OU2B9qVd0f0ZmeUfdc+vHr3/jm+752K2Lq+78/YOaWX+ci0oAGUj+n3gKUKYyar0/mAfq7sqMAf9jG0IECx3u1ve899ab3vvyb/yGb/vBv/uMK69kdWJ1YnUCwAAAWFsULUVpJl+jay062KJw1YIqCiRTy8qIyo3LlXVCVHL/mc6mdW62QtBurO41Lm1gDeFa+OG2uS6TC9rl9QVnW5Sy3fFSe5vZjfTk6dN//MY3v+dP3rkYlUL1r2pmfTNAD7bUblStGK6ndx/lIK+fJqHehi0uJffX9u4uUU5oP2vEJaJ0flxnBtzy53/x0Rvf89of/qFXf8drZV7JG6xOrE4AGAAARyRinSOtlK9emkoWrW56gsrkmdyZKJJMrSmEaEyorQha61UcswxGbyhjmyGZOipct7wup8813UW1YhuXUhzL75KU9SV6s+G2D9zytl/+lc898sjyLpJM9R8d5F7tb14JICM2wHo6uj3CiXNoU6HXCEgdeF+y5ClA/n5LTmgfBEia3FKHE/vUmSff/vpf++ANN/wXP/lfff4XfiGrE6sTqxMABgDAuC8qhNd78lV/j5JYBvpXVF88dNAb9KUVgrb1jin/5K4xxaaqQy9FWPkIx4TrNtcly9K6kLnRHWinmpOy7hebucTYFxf0n37rt//st39HO/7zvo3+5jGpZ8tQGYARpV0XY7/+jWC3sRmO1BLo2wChF2i0VWy6wbwx0J840aHrZo270xb/3vuxj//S//TPFjbAS7/qK1mdWJ1YnQAwAADGfGxBjsbMWul336uV3EUpNaQIebXGZknMpaBdyB7pPE8h99Sa0GajcY6r3fnYdC7KsBNu8+vq5KixqcYuC6yf7/S0JmgSM7h5Tj/22Fv/9S/e/oFb+k7Zpt+1PatrzAZ5oAVQeSjradUy+MjYb22k3MuhfsX23ptNzd91ClB5g5mUmrLM29ZmQNslBbUhqePcE6ff9H/93Nd/z9967Q//4Aw2DWB1YnUCwAAAOCIRG4SKKFFa671d3X+nr7rp13Yaj990phM5Nnehua7atnP1xfB0craFTNZtfIc115rTIbQk3s11udK65Xvu9dWWLmFgWXXXdd6W6XfafvSRR379p3/2U/fd16gujSvUMjXCJstpNpUCAFlHBR/W5m39t+26yv0aar0c1mDI1LT4brJcoNhwJhgDhR9acjPA2QbSdXZ3bt3FP3/5e7//yIMP/t1/+N8eXHTA6sTqtIerEwAGAMAaIjbF05XnaUC+FpV2WQPHnprl1JugwaRCxi4J1ZzqBFIjbhNKic42JxSTs20L36EWn33XWidlXVdBJX03va7QUXu5q06jpKwE+Wo6p5vzvU3dw/bw/Q/8+k//zKOfetil/TSZ4z/kbfc8sk2p9wdjIHM5blLHWtkPVerWgexm0mz7gtrI0VaADX7lsg5YMp9uVOYkNHRPOdzdaH70xve84Wd+9kf+6T+55LLLWJ1YnfZqdQLAAABYQxR17lsve0JvDZVuqxpu+CeXvflE6TKxI3VUbGLNXCeHOnfUMmPBu9MaKZxtrh2125S+87Jt6ooaqkOtuNakkLIbXpcJzjYjPh/DpCYbXcc9u/xD502XPDBlGfvIgw/+6v/6L5747KP69miGPLJK9W8k0/vHm/+sYwdUPZW93uxHONYyNrPWff9uVGx881LcY6qO09g23Wa+ytMdOK+vSwfqlFVz14c/+vr/7ad//Kf+h0svv5zVidVpT1YngA0NAG77+WFrTUVEFR3qY1s7KWbOGZFNCK930rQ7cCeDfA36nFfjiji1ZK7MYuS9urcQNW0SSC7FIekxThgtha4qv2u78HT36LZBdsl3DiqFbu/Rja9r8dZbkVBg5/y0/ijdXy4Hd9mCY6o3zKOPPPL6f/HTC+3/lKSbxA2jMgZKj2ym+oehNqkGwJjhAR/XpOzgvB+0EHahmK6wAmTt95+9XfeWbbAHfP8foxPT3Z3VGqfISWwEJJ3S351fPqntbr8H7rjzDT/zf/74T/2PF11yMasTq9PsV6e1TK8B4V6cHPkyAz8aQ/HElA0AhgDGLIlZL4iShder8jVzUDVqj3pjypzU6I5y2syprmF5dKc5URM2ojcmCFTfWGPpi1qKK3GeNrvZdXVFdf19Q5V81Y1EdnFdqZ+GSx5wUrbtHnGhdrF+qx2Z5h115okn3vAz//JzDz+itf+Ykx1sAJ2inelkeUJzNrxKDPcKgG1/LtpVTwkOddnVTF5Ly5eBW7H+JFu5Ihv2oHVp3CHXvKxPjfpcd6cZ58TtulI69dSYcPvd9/Hb3vLzv/DD/+QfT7EmmNWJ1QngQhkAgv02fTVdhn60Jux62HtYhU8liGNRHZXne1+IOI1NQrGdOwgxaEluqrTtTl6XZmrOD6u1mU4eNc5hZn36bNN5K5vYrUI6VcZtdOoEeVfXKFtcl8mD6dViQSWAd3BdTsNqU5KuzVxH1rkzjZ3odrbWLlTJh+69t5GUjNGoXY0K378e23JnU5Gqz0yqlb9S6sr9+0LW01hs/9WHYgQiG6j7qw0AqVsCMaFE2zMujVtcNWd3m3Ue6E6f88XAYdHqtLe2uw+XDuxsSOTjN9/8x29683f+6I+wOrE6zXV1Wn/oUyJV2omtOKMilHEdkF7lRWF/oT1O3gAA2D9SVobqMadKOU1dvhadHAs9x/qWJDaujKEKzUWZl8chmcHkBWptbLTnKtU2vagx+dr3vW19XS7pogkPtq55iHKqSSi5m2iX7T/7nbfdccstTe74z7V/3bJ9rAuQyYdXRnXootgyGz9fL7u6HnPQkJfD5hytrfHL2kaCd/mn/cKK26zYlMrp+k3sAtS5orVPt7vxXKtH7+v9qz94x7Uvvu5LXv1qVidWp1muTgAYAACHFUUSs7El0+e0yPH/NQPbu1bUGvHZqH5LndCQrtWyU8XTR6TsZte1gXzd8rrcm7chG9tpZ01Xh9c12TCxvYZM0Fl0xwc/9P/91n9UgylS1f6DO9bkAYG8AWhleEfcqcEpXi/4tWr73H5qUFX1t4eeI2so8UrvlzGDYUVDUd/J09VuapUuNwPcpS5U1VNLhXX5QOtyYLrfcTaAa/HuW9lY+7Zf+pWrrr322ddcw+rE6jSz1QlgexqGAPbOAIjlZWpjySY4akN6t8q4zWvUVPaqy80V7/010sTEj1pNW5PvgKPjrLrbnciW16X3n5Lge1slXze9LtWWxPf1i21MTFKCRaYWLj575szb/u2vLFSIJoyGKDd/X/sv0oFCIkcYK1F9QuOXmOpXoQvG02X5nQ/aSzU7qH9mneGvNgCQ+gtKVOhqnQbSO08359CXSbdZ43pfimRGVBzqvAWTNsmyEI3POJezZ07/zi/9ctu2rE6sTnNanQB2AhEAGGGekVHJpJFo8dbornOmjEHHBi9RnmnxZsJOpxLaUOiKurYXQxd/3uWmdi6p1KRi4zh7pQ+9jqFX5evG1+WcauJ3d10eNCHj1hfYuWI7/+OU7qg/+c3ffPThh7VOGfJ/BrX/IbelKC+4rLPVl94716ZP1kRnuS7lkSyfXr+Grb2wXevPrjxZVi4MhTVEVryUySuPQjAgtQHtu3VD2xZ35W5jV6NyvoNzt3P03nfb7e++/vqv/a7vZHVidZrN6gSwE4gAwN4heSeWIHj64fW6fF0qFmKGvJlNcmrWNryUihTUra/NaGbImtdVOs9G//T219WoQVNFimXNq0yn0O6+2++48fp3Bidr3rY8pmKXvn/vwI4fZfJYB2d/k4yBmh888+ynbqFFTGBdJf3wBn1Vs7MDt9lK7T8rOEzVAYPXnpJD1J3Wd+tqc6tskanLMCR9Uu9881s/89CnWJ1YneaxOgFgAABs4WNTEfbCSRkET/Zjb1tKGW6ZnLd/qW16nwRSLU1ctrkuMTqBOP7R9OeG3tXG1+XWEalkj6iGEzKtLNvr3/imZSK01yxT4W/q8a8KMRuljTUp90ANrOgeHKJcudU229LfH6A/disH066h3K9pBvR+tCMaXvGGJbs36z3Fc992SsmINpU2rkL7S8lNr/Ch5B+HM9ieOvvkO9/yFlYnVqd5rE4AGAAAO3C2ZUIltJpTWkgmF0s55PK8XTZqyFSuNYCX0qdb1f9UpHu7K0ot88qvQm/YyXWlIRJTa10yOdfa7R/84F0f+ZiqvEyZGI1qVV7R/lW+cnL8h0FolPbWz/jv7c6zYo8wW6rktvqo7Sn0dvhrxAywtXew0jDQVkBlF8J8HJos0UV6Kl1U8dOmCioaoDy7ksy2+LQP/uV/fuDuu1mdWJ2mvjoBYAAAbCGHJCVb+PRQ1cOwFxpOUiITM8o3lvm0lLgyuWAzkjVbDkmt8e9nz9/4upTOJbFFS9bhWTkXt7yucqCUy1LS1W1bPniB+dPf/K0m5huUCcr9pAJTaP8pMiC56i+qp7tOfVEeyKoNMILtaf82dUavmAFdU/3BL0/vRWov6JLz00Mrvb8mD2hI2txJV0WLKvcsVH+JN2fcBit+DPnWbOojS8XE9p2/+VZWJ1anqa9OABgAADvxsZWStQi76+RmkUKHGdoyXT0nl23F61dluTFbBdnNoOSrONi2vy7TS1ORvqyd1C1xz8c/ft/td2jFPSb/NFrXL7YAq2xjpAZTVLOR3kemFLDKcHkN2ybN2yiNXGv/fU3d99DUKv5oBCC8kLIHqq+pzIDCBrBr5Bkp1b8+GmIkV+l8hrfOAoqe3SaVX+vE8WyLBne7fvx9H3jovvtYnVidprs6AWAAAOxGuA48JFojy7xKvebupqrBlDvXmP6+qFL/cVs/VLFb48BfUde53XXlPsrVje1PPu/5kz917n+j3cliGpX6n/UyVyppk2csNEWfwbrikn1qud5fKtOZ9u9U9HCm/Ap6/0qNv/hqe68zFBkYtwFs9QJq98NYVne6IcvsjkYPeIjPNLXOOWr87V+9/Q9ZnVidprs6AewW2oDCIPvTFE1qOdfSk47bvL71zQ19Tz2vNYmJu1jqp9vN/05VYVBHslPXV3cl2QX4rpT11z/hd9Tpxx7/8Lvf4waqyXqWZ21YUop/qYbm+cpBTZNVN8bQEGn3v9b1o9ada94pUjCSmTPupB/ZFFU6G6BQAiW9l+W123DGbbsUnqsO11O8dDWxODMk3FiN27a2m0iu1WPTHZ7v9nsK+wG7DV+N/7GbZItf/NAN7/6uH/t7F196KasTq9M+yzsABxEA2FP6TTYqcinpIau1luoTRpxmsqrQcycXaMZdX7u7rupf2TJt4ALzkfe85/y5s9H9nLv/822MVM6JUQWph9L+S/3DakXEFtp/5t3vO/6Vv7/NXPU+oae1/mu0CsD452Tn8uBAoFUn/R+y2d81fnPWdE0b7EYctcIibSN38Gfj36QQQRkEOPfkmdve/wFWJ1anKa5OABgAAABHwkI7lMqWpZX24VJWmkZNYkz7H23po1Vka6rav1fyK+p4nr2TNP5Op19+BSXervxaPi3+VmkS9P50ZoeEzKPwo7YBbGbn2BGNX8ZtgFqrR50IFE0CUVs4x4/1Y++9mfscAMCQAgRj2PlfnLUVvczlMGRnVBKDXeU0svkvDj/NDg6z3c0FysDlHMV1VXNLylzwE3xHnT9//hMf+rDWGk3P/V/r/JOSf3R9Zl+RjQfV9pr9Mt+e9q9SgHo/muCDN716XHuo+0rSL8a36vN53I2k/MK2ywsyXepItnmxjakcPhfIb86rklbsqHUk6s2GY5dhFN/ZYvCX+9fGRCC3t2v3XzQJ/Paw3lroDhY2Xnu+bZqG1YnVaUKrE8BRQAQAQLdA6Z3ckbQzKkt7VWaE3e7v1AWfDakldru/0X/5voppJyhM77vttrOnTzcqb6RJ7vy6+98UGUG1akWVwC2D917S5pP2b4M/PtT7ZgW+yuUf03syB3+1yefqCICKKbQxLyh7ggsOpJhAa4xOCor2SQgF6DhACmXE454FIrpLqB7DrO29xME3vZiMz8yK+y47U829zpnHH7//E3eyOrE6AQAGAOypxj8qNTJxWPRE1+0Rq6K60jLF1sRt5Udrd3BddtVfyYTvNtfVE9t2gwE/KQbAHZ8oGhSa0CW8qbn/dQ1AVPBFaiWGAzuN2vzzKrR/n29jrT5ug+rfpjwfU1P6/ZnzSXc3590vWjv2FZ/WswrawhjILIHMDMgsk/BWqzZA/xbNh7NvA+hOMr39nnJjzJis9WqsCrj3tttYnVidprU6ARwFpADBvpsBQS8RG7thhNCzjlN3iQ7phDUyIuFMkDxBYOfCKXdEqa7t23rYJKQNpM4eQX+yKovC/R3f7mOL6zK9JBZ1mTt15h09f33PvVnGf62KtHT/m0LjNL1mhoOqhs0GM9whOu3H5rdN0m+sSqzXPttMF4x6z+E+AmuLN6/2ZrIu78fp1q4xz/LCrU+2cfedTgoSo9M4fK5HzAUytlabqdM+uqY0hVng30Y4lK45kfpobPpQrPUfYp4F9OA997A6sTpNa3UCwAAA2IVk7VQRG3SSTmZIED9e1holorTQ8qfdL0uW02zyXI6K4PQ6XNbIsa+rbexnsyqd1uVn+8tyudG+u5+E8zu4rlJF0JI1Tymw2/sPj5hHHnhANZmR0hjQO3zlLdiDrjrs/u/p1iaq7zXtvzVZsW9f9e/r/YWR0NP7bS0resxQccn1/tj1/1SD47Twbp50SffGKdneEohmQFBUo6bftwHKm01M2TVU8mKA0HnUnxbf7DFVAhibt2yyIWUoXMUj9z/A6sTqNK3VCeBIDAB6YM0bLVn77TWKPYlkb3qiqdKypOh4URtqG4OiotxVVmL1YxIjZsQnVXMz2cqhhBB2cnBueFHdO7apLDMrnrP9/aa2vi4tRm2/G72NitoJ58zjj7mSXxM2Aeh1/0z7/uouk02ehm6KjY2s7Q134Z9UKliW3eE1mzb5NSvBAZPuHFX+O7xBr11rXqRZoZrEBy3e+ubwnXXkim6DEWBC53jJ9Hv/FkSiVtuINTUbwNRsgPzmXb5IE60jV6jd/eU2NABtxTY2RCR8TMB/UosfHv/sZ1idWJ2mtTrt6r6SYelvasrAyA6GUt3BDaZlADAEMOK1metVeWdqCKVbyS7YBn9V65SGTmy0y1LCnjSqiSBVxKkyU32VpFWuXFukrupU6Q0/La8fSGokKT6Sbr3Kteyd0lgbrn3b62pr/jYtiGPrenuy76gnnzidpfUHZbO6la8x+cZFNR3a5sflQXC46lE14a5o9RMGVH+t9+sWQCpNXP/FtUpG80SmlGwTk3+ybkjWqkroEAQQHxwQ9ZwmCwV0Vo1O7RiKA/TeW5kP5Df8sraiuKQsoLghlHv09GOPneT7kNWJ1QkAAwDgqISsDfLEpoJFv+to220aat3Gp11Eui+N3CN14Z0ncqhSzuScbfvyNRe0m6oONvZntClT2CdGtMt9Un2wffFY67ZQ3e66/EHYhqo1oUGNtWVi8YmXr2eXBkDM7aml9KjNmSTbhjXrADpiQCsFLtP+297N0GYqV6ncmErhY9bAJdsnONtUYF1PbbRtdN6/mLAXsM23SvDZ9ikgIJ1G15iU8hMaKzltzwStbtAGKI57er/RG9XqLKC4d20yTlJ60vIKzp5+ktWJ1WlaqxMABgDAbnxsJiTadhJ0qZ9YydpHBDfV0iNlcmnkkgqC4FV5zqboc5LJ1ySEwl9pe+63LES90XXFnFrnSHNvzklTCVtBNUHxare+rjarIMy3hbJhZ6g44Cf7rnjq3LlTolpMxpYzaVepwgWutMx1Pbte5xnS/ttwMxh1t1QsBBUWuPiyy6983nOffe1zn37VFzz9yisve/rTL7viiksuu+zg4osuufzynYzMk088ce7JJ588ffr05x577NOf/tzDD3/2wYc+dfc9D3/yk+efeirthha08ibo3Fa6m80s1VZfGBCMBOXZLW2AEdVfWym2SE+yWUtQXSHgK5glhCxOdro3qxOrEwAGAMBRediifG2D7HGur1PBqbYUh536Ij2PVFf4aGLigbWlf9eUbRwz+aoFrSnD7jsoswvC1u/dFGPnQbgOStkNrivpqVblrNt811hrJ1Fml5X0FinpKSGoroz2FJ2eSlfT/rWrtdWOf28M2GqqxuL706569vNf/mXP+Rsv+cLnP//pX/Dsox6ZhSGx+LriWc8qzrfnzz983ycfuP2Oez7y0Xs/9OFzp884S8n6tB9f19m4Stxwc/mu/EGra3o2gAyketiaDTDwSbp9weqfkbA6sTpNbXUCwAAA2ImPLXqDfFFjdLMtxY/vuOedVbYvjby/SIyYSmOX1NZ9TL5qJa9VDt3WbhVkd5F052tzKsLye6gXXCFlN7quLE3FpMsMu1dF95s9+V427eA3eQFA3zCoFgAUNkCe+p9l87dq6FqdhO167cdiAKX6X/HsK1/ydV/zxV/96iuf+5yTMFzNqVNf8EXPW3y9/Fu/+fxTT9374Y9+7Ib//In33nz+3Lmmu68ktHmJGUFtCBQ0UtyTlTjAOsq6+PQiayrljJUyADnxFgCrE6sTwAUzAKjh3hu9N6+yK9rr1bxscx2IThmwXpa4H4Oa1UXbl/Kp01e6oWpC+7rWpmyQodEKL6V9ZtK6qH1y8bqnLeV3COjrCLVsfF35mxLXkt1rQN21LAsHu1za7mAH19XpBM6XFgbQX4uovXjk5O++KXnLHyn0Safty4oMINX1JtdP/MiE/I2kmiyGTtqU/2OCbRB/XA7yNS95yav+5rc//xUvH7Q5jptTBwfPf8WXLb7OPPb4h/7sXe97x/VnH39MvJu381UbN5XcTSguY79/Kxr/kIkNbobXsXQmuft9AEJUEYTItCIArE6sThfI0dH3bIgxte0Qs3kzockEqw0AgL2zhUKcXfxBCKw7p5pN7Qqz8LTtDqxvdm6Kyk/djMJ0v2Vyp1qbZ2+3lQSPHZTZWbVtjsu01o43oxJwd3Nd+p0rvTZU4MWc9QkI2Uzrl5hNXm7yJfVbqtyeyeQNPit5/2Fr3iwI4HbPDV7MZ7/gBV/3g99/7Uv/xlSm1qVXfN5X/q3vesVrv+Xmd1z//ndc/9TZJ11lZ+z+vwwFBFVveX+qVjCp04v1FQPr+yeUtZAOfTFAXrV84m9DVidWJwAMAIAj8bF53UtSwN07hNrQqzxGn20vPC3BaeSzD3IRZ1QQ36whX3U3ulj9uanisFSbogR12lTnLFwtZTe+rizm7vvu6cI7m5rxnXi3mOk5xEadZjJwc0nWeVN157Q9lWtE+z+47NKv/YHv/7Jv/iYj03OzXXTJJV/9fa97+bd+83/69d+48703tzb49P3uT8uZ1d17bg/h1OnF5QxFG8CULudKIWqoNajvZzK5vU1YnVidADAAAI7Iw+YcbL7Ztnazdf1Jlj83IQPVSJJGkpJQ/XZHUT2x6bXDnzC9Htu5fI2Fa63aZ2cnWbbdG/NKlfgg+5iU3ea6onxtO7lr+g62WHV34mWs9Lp5Sr3V/9AeVSYbs5r2X1T9au2/61vib5KrrnvRd/zkTzztyisnPdEue/rTvvsf/uRH//KGd/3Gm546fSbOpjbZAMY3scn8wdoGMFXdrHJKNwf1J8KGxGVLUFYnVqfprU4AGABwYZ1Rs70sG5vrKTebDWmpvrrOORf93jR+PyMbvFFGepsrqf1lvPPJRLdTT772dttRrant5h+XjRpp6LEdkyuqUnbL6zKVejurHWxBuFo7gTtK5/cfQrOR3va1ukuJre5S1Kn7fe1/8f1lr/mm1/z9H2lOnZrHBHzp133tNddd9wf/6hc+e/8DPRugqwfoalsl3K5W+bl9R38xhU1lBnNRBlN8RPcOtaxOrE6TW50AdkzDEMD+2TU6PdTmSaJeS1PN44LeFnpLt054BN9R/uV8usn5tFK+tmqTnXbrTtvBS1dtiFF5A7u5Lte4JtN0TZZru90WQhdS+zdqL7Bcd9TPGdZvomaRX7VNXlXfX6XV/lel/X/V977uW3787y+1/xnxjKu+4O/81H9/1XUvSg3arc3TssucjThP9aiuPzeKj+/w2zawOrE6AWAAAMzNADCxTbTOB43yw/jeETZ1x9Pb4oR2GeEJUfzYVNap99lZS776P9xu44haijpjis53o1J2++uKT/CDlvbfSa8cNOAJkFUCyApFrWoDmGyHUd1q0Nhif1+rbYDlSH7l337dq7/3dbOcdJdcfvnf/qf/+Ate+IKk0imzp8vQKPZpyrTh6jiv9YFK/cNldWJ1mtzqBIABALALKVtsHhn8W8GpZMqGLTFnIwqk4G1KnqoghJzLKgqwNuuqUZevOu92Y9+hseUL9hp+p4zYnVxX1mEjqS6m3Ll2Cqp/v8vPeAmp1lP7qn/S/m3p0FWKb1LsXvaab/rq73vdjCfdRZdcsrABnnHN1aUNYNS2rLlGmBtRFcvKDPtuy89OVn+grE6sTgD7AzUAMCaH5nldqqFeaHQda9Rim+3lk+JuNV558C1eJBV9KtmRbfia7/pkVVeNEfmqA98bsGytqNspqv2Vwn46y2vWV7f9deUb1ppsg9ui+HXWbjY97pkmV+S3uNvA32/pTrjquhd949/74dkrIhdddtl3/6P/5q3//KfPPXE6TT3X5jLk/UueHS56C6iexm/t3FY2VidWJ4ALAxEA2EPDJuYVVLxBbe6G9CKkDEyr0LN2R7nAtAqsu99tTdb1ZUS+btlpu4inF562kBqr0oi3vq6ys82g53IyWbarncQDWmexn6jNU/9NnvyjBnbZ8fPb/+ufOHWwF+6YZ1x11Tf/+I8lR6+KiugE8SIOYLbbsVVYnVidZrE6AWAAAGwjYjNBW61HzAPTts3FlRcwISQdv6KGUvndtNtrTb6mTtVbddpOCRXVP5E2+9zddfWGy9YUFzPjgFLtjC2aEuZntOK7+O9rf+DvTL3j56G47qu+4sVf89XREGqt7TllbdUGGBv2VdNGWJ1YnfZvdQIY4YC9nPdaEZaBA2PmvSraGFc2If3AR5nDd7cNjVFx6q7vnvhe1LX28CZ47aLCJ0HYiJLiUqafZvLV+H53m1xU94782y4/1NhP0YZkih1dl5PrkrcLFL+bqbGFg+0E31Hi+8WoY0maY9E/RrI5ZCVvTK4/dJ/i0mkhoqyCcObzr732S1/zDfumgXzDj/zAXR/4wFNnnuxmxHJDgFN+xPzsMyY2VbUxf18KLdmu1usl3vxWFwRbVidWpymtTrtY3Mp98qoH/VVOhs1otMeJQwQA9tDwsZU+GyrG3aqMbeVGyirSfOVZTpvXorVZSNrmr1z+9TbtZLm5ky2vfqu41mKcfVfX1VYi7OVfN0G9OOEi8lC2c5Y2YFWLdJspT0apJq3SqGIBwNd8//dOca/fLbnsaU97xXd+e57ckt02xvRSvW1WBxxbvx9WcRNWJ1anqa1OABgAADsRsaWK1mrlLE9EbosdZKyppqIWCamqFi2GpE2b/pY/qMrXrTpt16Rs/++2u7uuXoqLSaWuPVfiyXeTrTvO/R+t1lBLw8CmBo5WNwW6+otf/PxXvHw/p+Erv+O1lzztaSlDw/byXlTze2PKZkB24OOYtPbP6sTqBIABAHBkIlbpYa74zNiyYYv3gcXOLcqt26pUVL0dTUxILZ7clr4uX+hmej3vokzaRnUwve5+Jrn0dBHhjq7LWmvL2kSnq7WFbjcpGTuWaqC0zqJJZXZmcC/V1KlwoQTv7TS8+NJLX/ld397asiVLqxQya8pE7f5Q52aYnaLSz+rE6gRw4aENKOwd/8cbfm2W1/U//9qv8uFeUF3N5y/bokNl7OKSqz6l+//SZzztBV/+in0ewJd949e/522/154913bp3a4DprgOmF0zUHEqYyoGyLb4Nbn6Pw8VjtUJAC6QAUAVx7yR2vdYhFV8GfUEbgzYz/lSlMbJwEmTTRMbf90dSawrtKm+MO545Y5f+vVf3zR7HYO97IorXvjlX377u2/MTSp/EE0ACfW7kuv5krctMGpZM8OfGsDermkrl7U1v0yvchimCClAAACHKwCwpkgFyu2AvJhVu/+NynF/yde8mmF/ydd9ddvrd6nbsui9Wof6gR6qghN9BQAAAwAAYCPV0GoFVCem6zIAa4utncIzP++Zz7zy2ucy5te+7KUXXXap1VWneqxizYUtbQA7ZH2h/QMArAE1ALBaxQFgEugz/W0zklZqbaGnmtr2Q8/7si9lfi04dergeS972Sfee3PYMEG0NSXqIBZb2OLT2aAAgJEHgL2HCAAAwAaGQdk8XCv+1eY/qt2Kfd6XvJQxdFz7JS/TjVhUV5Y8CGDq3dqH8n9Q8gEAMAAAADbW9ccUSpv3+TGmbFGvOpGnbu7XvPg6BtbxhS96gc02+RrM9ok2gB5ztH8AAAwAAIALZhjYfGsq1as+Vvzm+ye5Ry9/xtOveNazGEDHlc95TnNw0N8xLQ1ptiXwij3AUP0BADAAAAB2qvSXKf62OCiU0aL81/37+c99DiOZhNCpU4sBybKA8j1cTV7ym+yuQ/b/AQAADAAAgFXqfuWo33zG2nzPL20k9LXYxYPPuvpqxlZz5bXPzbOAsoP+yMeNYPvDDgAAGAAAADszB9ZXML3XP6SzGF0AYAz5PwVPf/aVRaWESUNnVUrVegabrZtqAAAQOaAz8tSVEj5BgF0wsi+26e16KfUeoGpK5tsCiE5m/7xnPoPh1nxeZxGFERM3XLbbArgb9LFhH1gSdbNWwyIJrGyH2dx86Ht/KjGzpm0AAIyIUgBM7ENMlZDK4j3Y2gxQu4A9g8mlueJZz4yjtxjtYsjdBgDuITH9RwcWK8vKBgAwCClAAAA1JdGu0B9t5Ufbf5It2gCRAlQxAJ5lw4D7ActaKw1q+XaVOk9dAAAABgAAwEbGwIBOaQceyrqDpjO+dPWiSy9hSDWXXHaZGp9sIwDbi66YvLQaAAA2gBQgWEvpAWA6yIrJEvcBGHNUL7TYg0suYXJlcmhpEZUD3BkDEhL5raSc/srnUJherGwAAOMQAQAAOLQ5YFfpmLboSaN+4aJLiABkLAbEKhPK1ndaqKvvFpUeAAADAADgQlsDziQYLEO1xc5WTcPCm8uhpqnq933byVpDYj8AwPaQAgR7x0/92D8QkcZII8Z9l+X3ZbJBszy//FG6k8umaN1z3IGEhAQTWxP22pGUOd/dz23oZx5TnJNGmNrD29hA5p+9/t9tcF3/yz/4CcnfanccDvxF+YPO+t/BdcX37C6qXZzsrqj7blu7fI77vuB//w+vn6h+30tESedt7fl6f2DU1fXHWRVOL9uASmgKZGpNV6W2KVvfimB1YnWa8eoEgAEAsC5e6ogSpZ1gabzo8Q81mRyS1CE5Pq18XaeUiBOcEgWWtc3yZNfT3IrRB+6P2aDhiBNkG3ZWXl++SnryttfVyvJM6/o0Wj+MC/kq3TUuNDjx342S49NWUrtL98pp8vGnitVMFyl/mWyV4YHVxlZM/9fWV3EP2d6vsjqxOu3z6gSAAQC7lclztAFMIXvij17QOmng5GsSvUE+GbU5UbHbkHXCU8TlKrjj1gY1Rtzj8WBAytrNLmpcvpYCeCfXtZSy/pK8cDXhjxonX7tH/YXZKU6CzOu/8UyKLW7MNMfhwqw3wfcsI4MfrS99Zk4rG6sTqxMABgDAUchX4/1MovY/9AJJokwq5WsXf4/iuYhFx2wE507qBJBpO7+TexEXhm61I21Eym52XevJ1yYPrG95XW3wtHmxa7xvrfO4hUG2/vscVVY5pEKEljE+mDsb/IkqdKxOrE4AGAAARyZivUQpHGwp5q7laz8/VZQvSr9sJ4KC/LSLF7HRKeXONV2sXQemg2QyrZayG15Xkq9N5jwrEgYyTWLL6yqkrLjvwa8W3GxGgh9ujmprzwOduxMtFsC6hlGyAfJS4OVdpG/MkCBkWZ1YnVidADY0ALjv98GlJspfIurL5I8W52drAKQs2y7WHKrrGiVfm/C0ppaf6gctJZymDUtt+NEuJaZkB0uBY9qQdNu48527avmjD2EvK9U2Vh2aqndNpdU2o3m3G1xX20lZ51BrlzpE54yz3mvYZm62adxZUqpi5STy322ZNmzzF7H5jItPYskdHPYwpNUxN731KhkDefjA9l7BTGdZY3VidTpKw7IyL4rz42eK88awoE3ZAGAIYA9VjSzlVIfXJaura6r5qaKkkfJvmRhjNkUqrSsW9S60xstRVW+XR9tl064xMipfM+mbX/I219V0Uta97eBpcy/oQu3G1di5M3Myqo1SQAesgHSq2DwYqqNk1F5pAy7ZsTSheewNzOrE6gSAAQBwZCI2L60rou1NLl/7DTeG3B4So+niOuilePriRAqjizTDUrbZ1BfVrC1fuxD8bq4rSlnfXiOoCarAzr0TO+8sW7vTp+2zDbDuk+08G7ewOrE6AWAAAByllDXKwebcS5lYSu32au04xNRaw7jGkDZWzpku6Bzi6c0aUtZukY2aN80Yk6+9CPvm1+WkrIRHOtmamut5N9tMU2xXOENtrRMoHMIesLHLY3k3rjP+rE6sTnu8OgFgAAD0RVGUJqYIrzd5c70oX7X7Kv5izycVKua6LoUqrdZEObpSyvqY9aY0h5Sv219XJ2VTww0njlsVWPdhe7vPfbaxATYbNLH7l2HM6sTqBIABAHA0IlbvNdPrT2d6TfeaMjnVmNSlTgkiG3tUWy9YQlptIWVD7+1cynrp3zU82VR1KBxmWr72e4bs6rpic71lwWD3jw6sh5GcvIxdmXOiNrKtbw8M29hPapKwOrE6sToBYADAkUve+fnYYqdtyevtXKsK7YjK5FATpI9k7ahDJzqJ28R6QRTdaUEapR12RHnaxFq10ebm/Q2L9ACp1tVJr+HG1tflmus1zrvWPT8F2d1ftDZ02rZ7d/fXTQHMgaMa9vXygiyrE6vTpFcnAAwAgI18UcZUHGy5uFUt9jIHVXwFkzkjJe1L1HnJbO5Oa+KOm0Eg5YLKmpCh2mwqhxqjcoV7QrQqX7e/ruVA2dRmW8fWczebkT3L5hjZCgDqOrmsOrMHPgxWJ1YnAAwAgCOUskoCqdCz9KRsGZ6W1P8470rXtaDwObNWudOaNaRsV7pm1KaVG1+W3k/nEPJ14+tqfE6tL7bzQfbMzeZ6C85KDT6Uaor2v8HwWmVH7ZtyxurE6gSAAQBwBPJV8u02/SY1IsFN5fffqcnXJkig2o5pXR+6IJNaI8NS1hRVd6pH9eZeTx1kj+3z8rq6Qfm6zXW56rrW5/UuL68JzwjDa8VMvWmjZcebk/zZzMbmYnVidQK4UAYA9/2MpaIM/Jga6Q0fzNnBFgrolDvNeaf8ocu+lZprSiTfAbEY4tA1Yxl67jpShwzVxh93jrTw5C5DNaSpOjdVKGLb9LpE8lC7UV7DRmUS7+q6JHwXX3+3lNbnnUx1brb43uzJvy0GDsyKHWV1ro81A6ksoaclDI2/7e8ArH60aiPYwVWquo5NanFjdWJ1OpKVTVatcv3lbuXqh/Y4eQMAYO80DfFfobVEI178NHmcvcnlUJP2o/GB6FwQSaiU85V0S/+TCqyHbSm7tFTjNqo0uY8teN029LElj1rmY1slX7e5rkZsq/pqL9uGdBfYKbud19AF3CcmLLZWFdH0gdWJ1QkAAwDgBInY1FJaGlVY5iRLk9xOFTmki9Jqwsj3o7AmhdRHpKxNjaiN6ki9hY+t3CrIv8mV8nWb63Lytel0hfOhrZ4JqQvn5xZk39w2cM5TTIMVQyQbD7mdgUHG6sTqBIABACdA1Zmnj82YSk+6mHsqIek2RZ9jTmojmS+qcN2FDJCliynsRFNKWdeswqWqDp3fbORFNxEvY+j181tel2sX6JJ02y7U3u2849vq6T4b21zXDGcORsAmQyb7sLKxOrE6AVwYGoYA9o+iE0UQqHnebeMfKuWQd1PFwrXgqPO/67J1/T6d/TTWFLjPm2H782aLhnTx15uy03bvT9fk6wbXFYco71WSefWUt2/2TjY0CAaZ1YnVCWAaHHDf75nsrJbIRR9NsefmTAWsLrHTXTd0Aq6XxElENeJC8HpTelHFURLzO6yPofuN6I1vR21a8UWirq2eZLF1/5Fs12cjVg/m7fOCjDemaCK+9XWZ1HRD8ioyU6nntBO7R0y/KLW4uOrkqqqr2AaH/gjsLsZ/cpYDqxOr05HdWaY2j8brgs1wRfDQTIQpGQAA++VqS66s3AnUiR/p9942KQE3/oqqGwsmVZSYbldKJ42CBBJfo2ZCwqqXpn6jzZhu6/JY7eaXliXXRvmqFIts45ttryv01Taq0q5T3GKc3WcQGP8rgDXA+LM6sToBHD+kAMH+IdoRJWbYs5FvyWlKOSRZpN5kDbxzP174o0n+SbarZUxulS2q0dR+lnHvzCh3RQngUrfY5rpk1CMkIlqhAQBWJ1YngJMAEQBA4OZJt0nIiXawRQmUZE9fHIaOdPpnyb6XaVjFd7NFSLXaxHkgpru76/JNNeLGOr6lhoTmHNxgAKxOrE4AJw0iALCXYlUK51BxmJxhpbBS7rCabyn6kqQQaCmBVbnTTB7E374bnY6wFy8ef5IinXeL64pPqDToVrF6uuwBsDqxOgFgAAAcq3ytnZE8uTR/qOK+koFX7hdMaVEtA2/ggl21FKJxu+saCq9XUwUQsgCsTqxOABgAACdR3A6cVLJJ1npRWSlZKs+QHV6TrPWqO7uutUcSAFidWJ0AjpkD5sDs5YfNPSj9LzPcBmzegyOjB1JzKQ3Vlq0cfzvcWc3WPqyNP+6Vb7v/iW98XWZgoKZ4L0ntBhgaKLNGy8n4oVdfFhh/VidWp+O6l0bGX9Z4gll7JsKJNgAYAhgVo3O+NjuqPfTP+fPrNRxf2QDe2pEBt9tdmRR/aDjJdWfXZdcaZ6ruGAfGn9WJ1Qng+CEFCMDLjr7QtQMHQ+LZqicUz3f/9B+1u9NN7Kh4S3/a9t7YptdlaiNmh/QHAGB1YnUCwAAAOF6hquVr+rGTQlaJQ5vLySClbE0e2yBHbSa6tSBPv6tORNlnt70um19HOs7+tHpjW1xXPkQ2/83iJ+45AFYnVieAkwIpQLC/ElY5hMSmEHMMSncyRMQ/oQhC++h0/pphp8zwZZX3zprcUzXmjdviulY285Z0YdteV7q4XFMJ0tfaHV0XAKsTqxOrE8AOIQIA+ydftZdLOYa0FCl+tFZLmiRVrE1PUHLIpidbHWFXrjubiR/9lrYLsid3WnYVwYNmbeYu2/K6hoZLyWabe/gAgNWJ1QkAAwDguIRskENKYFgv+bQ49LJw+b0N4snJoDb+bneyDeedHGqNVXJLC1R1nEfYrd2Bj83mcfYkXJWfr3hjG1+X6Q1Xd0U2k8FFUgEAsDqxOgEcN6QAwf4J2Jo7TUeXOzEjp7wgiaH3Zex9IWAaKzaF47Ouc1FatkG8RTHTeiGkzkfhbXNJvKkzyvrsgBA6t+JaaLjz/nt3vpXlVbi3vtV1BbHd5lkEOoO373sDAFYnVicADAA4wbJoxpfViREvMGQhJMQ1nGutbZYCyTg51H03nRAyTZBGnSgOIip/6ehCW7xqcFZZm/nzwnmTR6uV3Nps5FX93OKKRF+jk4KNOm99eu1W1+X0hqA9LIcu6BPJYalVGMTsvGcW48/qxOoEgAEAcHJFrO1kTDiQeMbEH5WnSksjWYpjEekkl9W7T1qdMqsF0tJjF0LYrcqybZWbrbVF2H1TEbuUodJJO9M4lWHxh0Sa3nl/sN11ld7Bmj7hA/QW8QrA6sTqBIABAHBcIjY61fLeESmw3gnatvM8NUv5J1EaJY9TJ5DqTfqMGZavNvqiUklbEXzfVBi5t5hC7V2QvfOYLU8536GJl5NL2U2va6kotClnIAXcdWw9uty49wBYnVidADAAAI7JxxYkh+2i6kvJ0+WhtmK6wPryscaf8VJWXLS9e6aLQouteblMKs5rk7eplK9Whadj6mobnrkZTmQuFIVGJc6GhFonUytSdovrSm7C1rsM3UPhcqzqskGAHYDVidUJAAMA4FilrHOkuaXfR5nbLg6dQu0hPO2krKtOk65gbfkSIsXm9LHLdGpkoeSQykz1TxqSr9sE2celrO1i7uKcaJ0nrulE6rbXpXxsPsU2ZRLbkG6LhAVgdWJ1AsAAADgmunqypSNNgpst+NK6lnNmeeBi7o2Xuz7y3HTiV1wdmvU71/R8Ucmx1GZOtWpmbdW7to2Qlb6UFRdtX75xrzTEzNodXFd48y6Y3oYD1bLQRPcb9x4AqxOrEwAGAMBxONiid63LRHVutjy5dul5coJKusB061NWrXNKhaB05ZWDTPJB50KI2hRqr8hX97JbBtn7UlZF1btmeV3IfXkhW19Xq9SF1lidbps72GLLbQBgdWJ1AsAAADgeIdt5fcTXo3W5tt7nFpJrnazpUk9DYFp8FdoyK7d77lIW5R2pra23pKjEpk0QUW0vfr3hVYVsYJ8+699sd0WhgK4JHbid9rDldaUs2yBKXbqtVyCs9reRZwvA6sTqBIABAHBMtJ3ocKmmresy4ZxS/thLJuOTUDOnlMvCdX3opFePpvtRmNK1pkrrajF3lYO7qeLQvU6TkmQ7F1pQEXxU3YlSrz3s5LpSq40gX23wuvlj51NsufMAWJ1YnQAwAACOhU7QdMLMC6Au1N752Fy6rQmBdSdvXBJq573qvFASt6uplaMV++ZY13suk6Bt5nXLRe8WPjYXMe8UAtsY31uj67RtnPhcXNT5Tga7hNrdXJdNSbd5cm30urn8WvrsAbA6sToBYADAyRdFs70ul4Hqu+w5H5vp+s3ForqwZ411T3PONuOf6CXQQDla2oJeRdWzXtpttrOmrTy6mYhdSE0Td8/pHGm+gYZJ2QLGX6NKrt3murL+IarwTvvY1O6bTKpZzyzGn9WJ1QkAAwAQlCf3qvxem3ldnZOyZil3jQkBaCeQrImdtv1GNKEWrfRGpU10CuGqmlIHiVW61qLE3WzkXXKwa5knPpjuYujGbcFjOzdbP7l2q+vKygT9FVWq7my5fQ8zCxh/VidWJ4BjNACEUdhXESgDZ+y874pufxkvR83SL+Wawbn6s06ydo86sRtC0rYTWMFZ1XmkjHdOlY4oU7jQ8sYUpohWxx1qQlu6jaVQG/xk7g133bXjSf+2z3f5A0EG7+C6WvW2XauQVmUSt+4rnD/ZSO9LaxvS0zxkYDbZ4KaMzkrWWMaf1YnV6XhnVv9AameKp/WnnvReHCZsAADsm+lju1Z0vrleKyHH1judXBFe9EItZbAYX5dmvAervvKpYLSTR9lGmz3hWn9CazfPsm184xDjLieV05mUSuteX3Z3XapqMPnY1E6c0bOIgw2A1YnVCQADAOB4RGzY9iUE1t1umm3Ykqb7bkLlmZNYRkKxmutCJ6ULRG2TYyveNTMgXKuOt82vK8jRxU/nO2fh8seaoLU7ui7b2zyozXJwQ8CdFFsAVidWJ4CTYwAQv5kxkq+UI2G/oYj7PEWs7y3h22u04veY8bF18ftN6j50TrzYKIdsf4is9kUZ7VQru+mNSCmzRZsN3zCkcKf5D1d0/D1U1O3iutpeE/HUcyNWEPpGffbkTxYzGiPvPzn+aPPjaljdzH1mMf6sTqxOJ1kNMOupAbLqywxMTJiYAcAQwL7RtdgLrfSWebTdbpSd0G1CUV0T3Gydx63LSQ0ut6IPXbCvKmmpheC0puymV33O5o32upRZY0pBG95zLLzrzijX2qbXVSQQ5xtwhi14dBNuAGB1YnUCwACAE+6MmqmIDa30nJR13SeazkEVvWs2yKTG+lRUE2Rt8qmIFMOke2T42PpoYNr0hKvVW9oc+rqM3y8zF7Qmd7PZfmB9i+uqtRFc/pzvs+Pb8JFnO++ZxfizOrE6AUzHACB+s2+ST1Y9ZGc/Bs7f4z1oEtxdjRGXfdvEWKfvveGPjau9U5JHBpQKG7rTFWm1UUSlrtV5l70tYuzOx+YzZX1yrcTKOf/OxV112G1nV9flRWmsFAw/RjHcmokI2PFOGKZ3PD65+o21UDIYf1YnVqeTMLlWtvzpp83RAWhuBgDAnvGzr//3s7yuf/6rv8KHC8DqxOoEACtpGAIAAAAAAAwAAAAAAADAAAAAAAAAAAwAAAAAAADAAAAAAAAAAAwAAAAAAADAAAAAAAAAAAwAAAAAAADAAAAAAAAAAAwAAAAAAAAY4YAhgGEsQwDAzGL8AQBmBhEAAAAAAAAMAAAAAAAAwAAAAAAAAAAMAAAAAAAAmAYUAcMwVMoBMLMYfwAADABASgIAM4vxBwCYLqQAAQAAAADsEQfCGMwXyb/bcOx+1F+mdwywh/OluP+rU0NWTRD3qB14HWD8AY5FE+jPIxmebiNfBm1hFhABAAAAAADYIw6w3+aIdn7ZnvdfP23EgCdRFvaNvkes7zuWgV8cmnr9icbMYvwBjmVmDbn++xkAQ1NPBqYeTA8iAAAAAAAAGAAAAAAAAIABAAAAAAAAGAAAAAAAAIABAAAAAAAAGAAAAAAAAIABAAAAAAAAGAAAAAAAAIABAAAAAAAAG3DAEMAwbJkJwMxi/AEA5gYRAAAAAAAADAAAAAAAAMAAAAAAAAAADAAAAAAAAJgGFAHDMFTKATCzGH8AgNlBBAAAAAAAAAMAAAAAAADmyIERBmHWWFP/iON5/QQXGeeWgD1EwpfJD4rvZmCOFPNI8u8jMxEYf4ALM7NGJlp1rlV/HJmGMCmIAAAAAAAAYAAAAAAAAAAGAAAAAAAATJoDkrhmTJHUpw9sLaVW8i+AvZosUpsCUpsgJp8g4/nnwsxi/AFOxswya4j+lV9m4NVgWhABAAAAAADAAAAAAAAAgDnCTsAwCNtlAjCzGH8AgPlBBAAAAAAAAAMAAAAAAADmyAE13PPFrtowM55xSB4b58aAvaLojSGrtsccmXFDU4+ZxfgDHOPMGploK3fhllWvBhODCAAAAAAAAAYAAAAAAADMEboAwQh0ywBgZjH+AABzgwgAAAAAAAAGAAAAAAAAYAAAAAAAAMCkoQYAhiFRFoCZxfgDAMwOIgAAAAAAABgAAAAAAACAAQAAAAAAABgAAAAAAACAAQAAAAAAABgAAAAAAACAAQAAAAAAABgAAAAAAACAAQAAAAAAABgAAAAAAAAwxoEwBvNF8u/6oPqlfwtgz2fN+EyRw7wI04rxBzj2abVyZq35ZZhZs4AIAAAAAAAABgAAAAAAAGAAAAAAAAAABgAAAAAAAGAAAAAAAAAABgAAAAAAAGAAAAAAAADAkXPAEMAwliEAYGYx/gAAM4MIAAAAAAAABgAAAAAAAMwRUoDmgBxNSJswOYBhZjH+AJCrHDAPA4CPck5yTbZ4Wu88chL2S6gVX1rY9c+sM8ts/fnMLMYf4HhmVnWuFefN8PdiQqFAThhSgICpDAAAALBHHKD07RHRKSbqR9Nz/eMegz23g6V3sNJElnyW9ecdM4vxBzjWmSUyML8KR38//FadgGiPE4cIAAAAAAAABgDMxOAHAAAAQIUADAAAAAAAAAwA2BPrXUat+pTsh+0PAAAwY4VgtWKAKoABALOc9ANPYcYDAABMXgWQTZV69AAMANhn2wAAAADmKepRAzAAYD9XBOY+AAAAagBgAAAAAAAAAAYATMegX3lSKj4Ain4BAABmriS4el9ZW0kYPwkYAHASJvaK6XkIHZ+JDgAAMA+tf80nyspXQjnAAICpzXTKgAAAAGBE6NMNdH844EOdIjZMSJt/LyaqelRseFzCU6VXAyT5F8BeCcTqjDC1Ujnp/a7Nj+P34nWYWYw/wLHMLBmYEUkxGJh3Uk8brkxVmBZEAPbMuq88VYzKC2QeAwAAzFIviPV+o8k86AEYADCP+b56cgtzHwAAYMbawNDPAzK/HxUADAA4aXN5jScPBPKk+sLMdQAAgHkpDDKs4tfT8HaukAAGAJyYFaH0/gtl/gAAADOS+D3JLqjvGADA0hCtf6k7BgAAAGCa8l2iXGf3X8AAmI9Zv45yr0+oLB+0fAAAgD22DaS0E8x6RgLJAhgAcCImcTyUob5co+U8ohYAOuUBAADMRkcQVeG3Yt/fAc2hTCFCS5g+BwzBnCa5zQ9GHuoyAq3Ji36kNO4towpwBDCzGH+AC6MYSGEJ9A7K5h8rLASYC0QAZqL6r3NGehN8KAeI2Q4AADBLDaGnAKTwwLg6QQkBBgBMyfQXWb0SSMgBSo4BpjgAAMCk1QCV3OtPyGpDQXR9AMwUUoDmbPTbgRPLZD6bzobNgK1P+3FT3hInBzgamFmMP8CF1AaybYBF8mpBGc7uxwKYMUQA5j/xTS0FMF8TCstfhAAAAADAHJR/V8GrWwA6Wd/XB7QmABgAMDmFf8CIr+0F3tsIMG0OIufPPcWAAgAATFYnKDcBUFpBfXMwWU+vAAwAmIxNoEt/JZ/tErR/3S/sydOnGT0AAIApcvb0mRERn3cEytIF0PQxAGA2un+c6lJ09e0n/8UF4twZDACA6nza8AnA+ANcMJ584ol8bx/lD0whgCj3xVABgAEAk5aR0ivdl2w3cFPo/T5HUET0roBizjz2OOMJe6tdSj94VnTEk3IeVZ4zEk4Hxh/gKHni0UeLCuBO0Iv01AMdABBZrVQABgCcdHlayfrrZf7oOmC1QMhnH/oUwwh7r4iaXi39Or8vqJ2MP8Dx8tm/fsh39RCl56sK4F7SvxTGMxNnxhzw+c5EZlr9b3batfYUY23X6DN0+ky/IP5Z/n+xfl349P0PMLSwf3PJyUujzGR9EEJoKpfOdpPIZmupDc+3XdddUeeB8Qe4ECyEeGjr52aVqGYfoq0AiVnB6glSWtUybmbDtCACMAOBOWSmj51LVUEp+Sc97n586M67GV7YJ8VTZK1ZtO4LrvkngPEHOAoWQrze8yMkAlUrgMdnUi25ADAA4KRIUjM0Y6Vs95v52XSv4MXxw/fc89TZswwo7Pk82kDUVVPvgPEHuGAsxPdCiOudgLPtAPoKwIq0H+YRBgBMS36qQLkWjtEZpkKAEk8794A9337y47czkrCfiufwdnilG1lk0PAWguWMP8BxsBDfCyEuQaablAikG4NKSv8tVAXmDAYATFGCZkZ/Xtkvqg+QaHMgcwP4r7vefwvjCXsyb3QzPKlppTIqE2VgG52yzR5ylfEHOHoW4rsq1oMl0FMGVCaQzhegBdBcOWAIpqvl27XPZydDma9NP7k6uTDVbbQY5O4P3PLUD37/qYsuYsBh9hPK1HpgS6+BtvS0SBtKUfVc82fU3JPRmcv4M/4Au+L8uXN33/JBEbW3T68EuLSQTTnX+jN0/fNw8iECsA9SVQu/bO5Xs4BcxLDpHjp35sm7PvBBxhH2UAdVzrA14+Ip366feScIS8Yf4EKxENznTp9Z3PBNyOmt5v8Yo7uC9nPpmDEYADAF4TlowIcu/1K2ABLlGEi9gBb/NOE5jZiP/PlfMLqwH9qnSO4OkwF7+lDn87236ULD+AMcOQvB3YiRivtfsoagKv/H6ODAwEYabA0wJw74KOeh/Ns8rL0Mc7vO/8Z/LXT61khjbNs93HRPb9MSsGyU3bgFwPrnu1f41J13P3DbHVe/+EWMM8x5EkmZ8+rM4GY5a7yzpEiHdYdu6sUZ14RptfjWGtuEBJW4vQaNKBl/gCPlwTs+sRDcp7pIfjeDuq/lcan3N25mpRmnn5PNuPx7ZZdumBxEAPbAOsiPJDfyVXeASt2PCwLc9Ht/wDjCnswTp3T2g2a92dTbHCc8oe9Oa2itwfgDXCje947rG+n5/qOIl7L/D/k/GAAwO5U/k5aVLCDV/EeKfQK976079/Cdd9/zoY8wsDDvWSNS6IlZAnruDJNyehX+aZWGnuWg0E+D8Qc4Sj75sY8/eOtt4l3+UpT/ho2By/4/Ziz/h1mDAQBTUv293JSyO56E3X/1ft9lYVDTswdu+t3fb8+fZ4Rh5jpo2Q9Xd5Gvupx7amamxJavhhxl/AGOjoWYfvdv/06h8Te6xk8lwkU1IOYFZLsFp7nEZhoYADAd9d8MNPWSLAgg46XAMQiw+P7oA3/9gT/+U8YY5jt7RLeJl0wrrc6wwXb19d+S/K8A4w+wa2754z9dCOum7v6vlv+m/b+qGoSMqhmAAQAnQnyumKRS7gimN9wJbcIqQQBfiifywevf+ZkHHmSoYd5GdBOTY6XMPzE628SUu1aJCrv5SaWCbA3uZ8Yf4Cj5zIN/fcv173QtvJtB97/ozQEKo3ud/B9MaAwAOBHCcuXj/SygohQ4hv/KIIDfCiDtCWDPP/Wu33gTiUAwz9kkRclpUT2f18lp1VPvtp1H0tVrV/4KMP4Au2Ihmt/1hjcuxLTu/R8Oau7/XvnveP7PRkoInGgO+ABnZhPohqD5JpjWpH1/lw3zbL41ZjADrF8drHXuf+MfXZ585J573/3bb/vaH/h+Rhpmp4BK6ohVaZCVJ9VlTbGtyTeXLfrlSehTSRo64w9wRCxE80JAN2HWNJL6e3prIJgBRlTFvKiSgHzzvbEGWzALiADM2BbIjlUMXYnGuP2vyRaIRnQ0YOlFONW1EG6MfOwv/ur2G29ieGF+8yVrQKkcz3GOmDSPRDXQkPCEfFqFX4/nm7znBjD+ADvh9pveuxDNbtOMUyp67yV7FtsvRX+mFUhZWsN8wQCASUjQ/lSVoUCeSFnvb7J2QG7fkG6XkLCAdMHE5Zkb3vLWh+66mwGH+SmgaUMMEentRxu1T6nUm0q+R5V+TZG8Gg8Yf4BdsRDHN7z5LY13/Ets9OnPKNNXZ/+nOSKVWvqsJH+FmgEYAHCSROmgiJVs62/J3P9ha8De1mCdGbBcR051ZkB79ql3/tt/9+hDDzHUMJ9ZEwWnFDpl8pNFo9rkm2WaXp/KzM1WdOAmCYXxB9gRjz70qYU4XgjlZaC+57lLu/wq714xrfLzh1MqAAMATqj6L6PWfAoC1LX/UEYUtgNzeUGuv9jZx574w1/4N597+GHGG2Yzb4ppUnU/S00cSu8J/V83ygkNjD/A9jz2yKf/8Bf+n4U49k0/u9T/KLKDvStVG8AMuP911sCq3oKAAQAnQtt3P8r4c4oggJSbaIpREfMmuBOUDeB+XC4lZz7z6Nt/7hc+ff/9fAowEwVU18z1g2PKYWbi5tkqZ93oLfaKXxdSUBh/gF3y6fsfePvP/fxCEPu+nyH/JzrsVPJPqviVvGXWkPtf6pMUi2BWHDAEs5SlsRdQ1+Fn+a1r5OmPw0xeNvoR1w1I7OI//71rBLRM9ekaAUn3pMYa306jm/TnrV084clHP/eOn//F1/6XP3HVC5/PqMO0fSFqd2zJ9NHMpyyqVbZ7wM0f14rGxjnnZaqfchJmopPTedMaYPwBDsdf33nXO3/5V889cdpp/67wN+z/ZXRjjzyqnxnVfq+MPL+u7/6n/89sV12GYD8sgnSQbwZcdP9NDn7dEcjtJOLSCpvQFMg97aknzvzRL/7S7TfdzCDD1OeIuvl1JxnVkjJon5Ui1Gw/DdGJ6SqPzv8JYPwBNuaOm26+/hd/eVj7T6F7CZK6aIMrxW7ZMrblNswVIgDzk6Pe+x83AdBBAKsekegUs1ZU1ED8k6Wxy99r7WIpWT7Udk9tVByg7Q7ac0+96z+88aFP3PXq73vdqQPuKJioL2QpAbMK+Cz5JMudrdvYPniWuaG9E7r7cfHi523ndMEBzfgDHJ72/Pkbf+d3P/quv1L+uOSYCx38YiWAawQk2runplXp/jdD7n8TFQPAAICTpfHXxFnvrLYH3D+deu/FY0wE6jR/64wFJz0X2n9nA3Ri00qb2QAucWj5e7f+xV89fM+93/CjP/TML7yKDwWmN4+csAzCL7nKkmtZ8q1qjUpCCZMr6aDLWdFNMXfaOlN78SdaxCjjD3B4Hn3oU3/+hjc+fPc9p7q5cMpX/SbtP9oDkkcAqsk/Uadf7f4Xs945wACA4zcJVgcBOv3eBAEZRKQqBmicrm8W312CbbIBvEut+9Y6t0T3hEfuvuf3/uX//fJv/7aXv/ZbmlOn+CBgWrNGMsGp9M68b0Z/X9oQErM210HFpDnlDOmuqIbBZvwBDkHbth/5s3e97x1/1J4912TpuD69rYk+/rjrha4ALuvppdj5C/c/BgDMTaJWgwDVauD4HNtFD1ubWQJdIlCyAVrjsoOk7eIDXdBgKXwX/9qnzr//HX905/ve/xXf893P+9KX8SHAhKaL6pldRsm19ll0pI9WtI1mdNBBJZzotM/OyW1JP2H8AQ7B/R+/7cb/+Lufuf+B6Ok/pUxllfcfdwEzsSuoepqfQUUDwDiTpLrvl8HVjwEAE1P1Kw+JEpCmlwikiwFsJzyD1KzZAHYZRm9cBMD6AIGTxG1nNDz6wIN/+iv//tkveP5XfM/fvPq6F/EBwcmnSfvFypD2KZmfLFNDvfXsmmsFHVS0UtrlpAQrGhh/gBU8eMed7/+j6x+49bag9JvQ7F9Crr+vmE9VvzXtP+v7qVL/a8k/sk4pMHMIAwBOskkgysuvjYF6IpB/NCsGcFLZaBtgcTbUBC8DBK42QLpqYJcOJCaZBA/fedcf/et/88znPOel3/h1L3zVKy+65BI+FzjJU8bJUd2Qvknap+QR80II2tycNq6MxuXRxYm3TKjznXaB8Qeo89TZc3e89+aP/eUNj9x7X9DyjUr4SYq+5Cf990z7zwp/tfVcS/7pafZh9vGhYADARCVrFh/oJwI5b5l3/KtiABdG1zZAa2JNsHXRAhtKAmzQ+yV44drux89+8pM3vPmtN73t95738i97/itefs0XX3dw8cV8KHDSCO1uy82njCmOTc8HbUIaulVVqb6UXnyenU6oIwmF8Qeo6P3333bb3bd86O4P3HLu9JnS6x/V+pDwI8X5uvZfSf1X9fTlzMo1f8AAgAlq+WY0CJAnAsWK4dhBb9gGMEHRD3lC1jnduh+d+99LWmUGLDh/5uwdN950+403SdNc+UXXPuuaaz7/udc88+qrr3jmMy++/LKLL72UTxCOewaVQfMmNMoQ5S2LfugSa1JTGkk6qNtQTyfU4YFm/AHOnjlz9onTj33mM5954MFP3/fJR+6//+G777Vt6zT+U90tnqv+aTuLoPr7lv8STYKi4+eA9p9mXKbuy5ruf+bPfFbd33/ltzAK88DWT/pkHls+cykVrY1KfH7c1fRa92P3Au6g9c9cfm/VE1r1tHS+e83sF9PLdm8gFOS5J8d3avX7DO9qg2uHOdm3fX1RbQiVeYtNsXVUOGiUO22dGHqufQ6rnvo+DHNNTxx3vpsCy1LU3ndbzK9wJk0Wd2DUq6UprCf5kc0Ixv94xx9O/opUmSCm12Zfdd9UM8UY05ssWTQsmy/ie+YW86jQ/qXW8r9I/U/HxcQSPckPf+0wFYgAzGpJssMPVB+VrAhYHZsiDuAWg2UAfSkpO6da0+0XYP1OAMsCAPej673XOunr9gsL783FDULF8NIXF4wBY1MxsWiN33vrrOQy1SJo91Xiikk7v2YSNgo809s7VieUi3aYjcXQ0y9qBdcMZ8S6nJNwU/p6mpAjZ4Yy6FzxjA0xNN+vXk2W+GXUJHJvxOujPoWvsJoZ/1mNP5x4M0D6//TbaCo7tkzI0fd83gnXNL12/k2u4pdPWFv7H7wo2dDygWkZAHyg816hViQCiSoCznYGMHrLYNul9+ikIPGOsdQdaPmrLiPIyVWbTAL3kLHK2d9K+lPudYzREQAxOhYghY+Nm3bf72qT5GjhTgsHFWlaxsSbXuZJkzefKSSlDAtHa7Ly07QPR2xL3zXOavPmWstK+q6prk3mtNNMjXWzxsXQRGw5U/w0icl8Nt/oj/Gf8fjDVBYoU9bXxoY8Kg3fbYNdzpTSBpDcza+U/mLKxI6fuRng/rqqoR8rqqH2d28MAJiVQ8Ku96j02maHIuBO3EVhFtz/XTZtdNu7tNrlEpKFAkzuM+s24rTRnebdZN4SaKJfTXna4trjg+qSmS3VCED9Z5itpy1tAlXEqbVkTR6vVdI000Fr2meR2bKGASrpbrWFDrrUNZ0Oagvts5gswWY2Jp9QEkNhUswRXQBrjjAFiPE/hvGHE7wiledW5tK4o6ZIolMhtUJx76v+UtbJGL2D3krtX4a1fzn0VQMGAJxsb4RVvfA2sAHc78fWGqZr2eF8YyEU4JT4mhmg0nuiJWCC+1+LWC08Y/rQgDQdW4jY6mfG7rT+HSBj+ejpx1Ka5rHyxm9D2/dSl9qn1kNFpavFIwne6OCKjpX2QQcNO2YszjRuskQbuGczp5kSXk7lnac5YmtTY1cTgfE/3vGHk7wQraMrS68kQM+a6kwxlSqawcSeStpPsDo20f5x/++PAcCHPD/PhN3UBrDBBrDBBvC+Lon1cF0EwMYDsWFHASU7uwh7NAOUcHUvZbTvX4UFvNS0fvWyo4n+1uKn2L97W6oKaNnHulpdZ2re5WaVNDW6A72pV8XpxvRWFYTaoIP254vLkIuTJWWb5DMllsfY8OIpa85kc8TWp4Yw/nMaf5jE0lQzAKR4mnb2FzXBZiALrsmtaDOq/etMvF1p/9zNMzQAGIL98V5sFgewaacQq0sCXPlvbPXjFhZnBkgWDUhpP1nJr4mNRL1fzShBa7x8HQTfGoK2ooaabLebviMtSc1aGL0pt55VQlTGEtDjPSmZVzqK0zhfyvQ5E9NRjE87MXnOibaZkzKaik7LORKmK+M/z/GHqRgAI3PESFkPYIriGZGRdCAzaipnMYTdaf+AAQBT0fWNPczDfRvARM08bhQcjAidDqTFat8MsF6VlzZm4eZtNGJdnQ/gp5OSmmnYAY0/SxDCHNgLC7b8/GvCrC9NTVFOOhZGL5NoTa9cb0gHtakLfVBD1cRR6Shd1txw+pxRoTMj2mZOymhmNhcTQI5qRjD+xzv+cMJXpLp0yvfYkuI2Fn0y09RN5/JPan1F9e9l/Jsi7Sf7FbNiK711CmsAAwAmawPEkl51VLcBYj9QG9rpqZKAKPiyLFvpmwGxoY+Sr5Ln/Nisii560azJwvp1bx+r037e2PXjXEfMfV1rCtSeL81UKlzXFJDWhElg+zqoSkn380sbzMt2W/1pom3mYo7UqmWE8Z/l+MPJX5eGTvbmiDG1aVKtBChUf1ObLH2re03tX1ZZNdzNGAAwE6eFjo6vYwN4LbxLB4oy06cK5aGAwgzonuTq5/yLhX15xKo3obV/vUGxHVT31XmLp22f7l6RqlhKDraeNC30ziGBqjpkl47nnupZpvOaLO3bljkywWCWVEbvQ2njBnMMnZm+zZwbxvZCTQrG/3jHH07+ojRqKg/OkWrFy0B8YNBOFpO1+MyMipXaP8k/GAAwM5+EHbEBaruDVW2AWBIQOmKoOgATpKkyA8SkFtreBSdpf548+99tq6k2+SrcbBWNv1x9KQfYQy/bSDXqiEA1PdXTmDHHc1/1HMr0VeddY/hcDc1d0apDpZs1QQ113ujuJWwQ23GOWCWqQ7ebgdrTo5oUjP/xjj+c6EWpPzXGJ4ipNrkSKftr1bbu0htj9zP+CwNjS+0fmwADAPbOBkhT36r+1lmHUL/c2NwM8K/v7QZvCRiTxwSCgm9LX5pVUrz25vPVyBpq7vbqfh4MTxfbxGZCdDA7pdJocsDxLFWVt7RO0ztJaqjV4lVHuGIJTa6Gujnip1zQRFWgbHiCyJFPCsb/eMcfprIorZwg5R0ueUGw0vv722Br1d+knB8z6vhH+wcMAGyAvg0Q98zJbQAT6n/HQwF1M8AUAYFkCUiwBIwWtMGHZodT/+3QdcDey90y2i6VBhd9mWrWcjxL0blvpaQ3PgG9P0107pxRWel+1kgRN8svxI5OkAu/Tzbjf7zjDxOyCvoTxNQq2sfniLYleoUxKxz/Zqh6B+0fAwD2dpGyqulO0RvUFK2BTBkKCDKwNAPUi8aAQGkJpH9q9oDRQtdkfjsi62B6yShDNW1DEfCKO63ieO670MaEpVYERamh1ipbOr5AkZU+PEf0axYTpJgdlvHfm/GHCSxNA7PD1JKCxueI6TXDXUf1N2uk/Rjy/jEAYPZLkj28DWBSOpAxZWVwxQxI9cKupaeN+3EabQmk6HnQ59PeOrYuyI2IxScBq8Tt0G47IzLVrHI8y7DeWS1ClbRRlNWCNk+cy7LS+3PEa6Lhxu9PkEzNFTnGqcH4H+/4wzQsgSJitmqCDM0R00v4Mf164rXTfsyanUwBAwD21gYwvVBAlhFksqSgkHTbJdWaFBAQ7b/PjQHtrout/4uFib4aUL97K6nheXh9RKaOppvLqOReqYzG/aj6cyTNO++MVrNm3QkiJ2RqMP4sTbDyntxggpixNrj1OTLu+Ef7BwwAbIC6DWBCQx9jTZaXn343CwV0h2Mitm8JGN+CLzMGYp8NvXb1ZWre1AORC3W3a03oVkvuDiFWh/ROGbgj45NjuGxEDVW/EOef0kRNSi2Jb9La/E/LscwLxv94xx9O9LpU1aFXzg6T7a9X74G7jupvhrPy1mn3ifaPAQD7ZQOYvCx4NBRQMQOS/JOkxJeWQFh4ojFgTC84kFsFA0tSfYHCFTfnW1fWvMMrArjf7KJXfreu6imDUtX21UAdLluphkraZXbF7CiyzYe64+x2OjD+xzv+MMXlaGhqjM+OEb3fDCT8jKj+5pBJ/2j/GACw3zaAMSOhgKoZUNYGDFsCJlUJ6BdMewHY2iK1jjAVlq59vaVHBN6YSrq26rlGC8qKMmoPr4YaZSqHKZPpo8UV2RMwHRh/liNYU5NeOTXG9f4NVX+0f8AAgFyJH3NUFKGAcTMgWzmKgECxNKmuQXnTodIkCE9X8fdhYYuvbX9lai+DdujJhRK5tmTtC+4VWL1hVLg/x9VQk5pi2XWmxvi8sIz/TMcfTr6Kv3JejE4NM7TlxUiFPao/YADAoRev8VDA+maAUQ1BZcQSyBcrlUprhyyTzNkmLF6w1kc/lDG+pmQthOthbzAZ0ERXzA71p7QyWp0a4/NCGP+9GX+Ylm0wdLMM7XO3cnZsr/pzx2IAADZA3Qyw2ZbAg2aAC5JHqTkga9UOO8aotnxZSw3dz2P9RQqv2z6L1br4Gy0cGeotMy5cN3u3trdrRi9xLlc3pQirxc42a80Ly/jPdPxhUmvRWvNih1OjmlGE9g8YADA2+dcKBYyaAUOWQLHA5BI3swf0emfXWJqKGjtWsf26b2WtG3tIrA6rp4fTO1dOn3WNZNP3JJfzwq662a29cHOB8T/e8YfJrUjDWvvYBhdl4txq8wLVHzAA4JBmwMpQQJCKNhOnqywBM2wMDMjdumGw2YIL+3o/yzo3zJrCdaWwrD5k19ZEK8pobV6snBQnZ0Yw/gDrTIp15sXO9X60f8AAgMpysIYvbTAgMGwJmFgsV4mhy+Afoo8ebHInr1srslZ+uRxWcvZM3ZWaaGkkV/XR6UwKxh/gwk0KVH/AAIALbwaYPCBg8gbZ1qxwbNjypGWhgh3exkPn5LC/Llv8bTu4X9Uak8L2ldtJuJkZf4D1Z8ShJ4XUxTGqP2AAwAUyA0pLwNQacAy/1Ejk065erXDEgTE7bWy3jkBeR9baoQCXXeGWNsMbXa2aEZbx38vxh8ksR9vOiC30flR/wACAozIDTLk5ji2XqkO2yt60ngpgZ/L1sCJ25LdK87g3I+y2t7sw/ow/zM162MWM4NYEDADYdlWyh/gVKaVv1dvPxl5wLGJ19DE5AolZmse9Py3znQuMP8Bmc2Gb6YDeDxgAcJyWwMgSVrUKyr+F7IWjkrdHqG4e9i/Odi4w/gAXdi6g9wMGAFygpcxu/iJrrYgWwQtHeo9N5H1asYw/4w8sRCj9gAEAJ84Y2NIkmLQOAVjCKNOMP8CFl7kAGABw0pcnfGgwVxG75q8wBRh/ALR8wAAAFrV1QXLDDISo7NP9z/gD6w/AyTYAuE+BxRSA+x8YfwDYHwOApQ0AAAAAYH9oGAIAAAAAgP3hgPAmAAAAAMD+QAQAAAAAAAADAAAAAAAAMAAAAAAAAAADAAAAAAAAMAAAAAAAAAADAAAAAAAAMAAAAAAAAAADAAAAAAAAMAAAAAAAAAADAAAAAAAAMAAAAAAAAAADAAAAAAAAAwAAAAAAADAAAAAAAAAAAwAAAAAAADAAAAAAAAAAAwAAAAAAADAAAAAAAAAAAwAAAAAAADAAAAAAAAAAAwAAAAAAADAAAAAAAAAAAwAAAAAAAAMAAAAAAAAwAAAAAAAAAAMAAAAAAAAwAAAAAAAAAAMAAAAAAAAwAAAAAAAAAAMAAAAAAACOggNhDAAAAAAA9gYiAAAAAAAAGAAAAAAAAIABAAAAAAAAGAAAAAAAAIABAAAAAAAAGAAAAAAAAIABAAAAAAAAGAAAAAAAALA7DoxhKzAAAAAAgH2BCAAAAAAAAAYAAAAAAABgAAAAAAAAAAYAAAAAAABgAAAAAAAAAAYAAAAAAABgAAAAAAAAAAYAAAAAAABgAAAAAAAAAAYAAAAAAABgAAAAAAAAAAYAAAAAAMC+cWCEQQAAAAAA2BeIAAAAAAAAYAAAAAAAAAAGAAAAAAAAYAAAAAAAAAAGAAAAAAAAYAAAAAAAAAAGAAAAAAAAYAAAAAAAAAAGAAAAAAAAYAAAAAAAAAAGAAAAAAAAYAAAAAAAAGAAAAAAAADAbDkQxgAAAAAAYG8gAgAAAAAAgAEAAAAAAAAYAAAAAAAAgAEAAAAAAAAYAAAAAAAAgAEAAAAAAAAYAAAAAAAAgAEAAAAAAAAYAAAAAAAAgAEAAAAAAAAYAAAAAAAAgAEAAAAAAIABAAAAAAAAGAAAAAAAAIABAAAAAAAAGAAAAAAAAIABAAAAAAAAx8qBMcIoAAAAAADsCUQAAAAAAAAwAAAAAAAAAAMAAAAAAAAwAAAAAAAAAAMAAAAAAAAwAAAAAAAAAAMAAAAAAAAwAAAAAAAA4P9nzw5OAABgEIhRcP+Z+3QIkxH8HQoAAABAAAAAAAIAAAAQAAAAIAAAAAABAAAACAAAAEAAAAAAAgAAABAAAACAAAAAAAQAAAAgAAAAAAEAAABUzgYAADDDAwAAAAIAAAAQAAAAgAAAAAAEAAAAIAAAAAABAAAACAAAAEAAAAAAAgAAABAAAACAAAAAgDUvwACuCAigKKfAJQAAAABJRU5ErkJggg=="
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Получение приложения по его идентификатору",
        "description": "Получение подробной информации о приложении по его идентификатору",
        "operationId": "Apps_GetItemPost",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор приложения",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projection",
            "in": "body",
            "description": "Список полей, возвращаемыхв ответе запроса",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApplicationItem"
            },
            "examples": {
              "application/json": {
                "id": 104,
                "caption": "ЖКХ Москвы",
                "description": "Это приложение поможет найти ответы на многие вопросы, связанные с эксплуатацией и обслуживанием вашего дома. Информация о доме: - Планы по отключению горячей воды - Сведения об оплате услуг ЖКХ - Информация об управляющей компании - Общая информация о доме Справочная и правовая информация: - Общая информация о ЖКХ, ТСЖ и управляющих компаниях - Контактная информация городских учреждений, ответственных за жилищный фонд Москвы - Правовая информация Интерактивная карта поможет быстро найти: -\tМногофункциональные центры (МФЦ) -\tОрганы исполнительной власти (ОИВ) -\tПлатные парковки -\tОстановки общественного транспорта.",
                "categoryId": 2,
                "publishDate": "13.02.2013",
                "developer": "Правительство Москвы",
                "icon": "iVBORw0KGgoAAAANSUhEUgAABAAAAAQACAIAAADwf7zUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpGNzdGMTE3NDA3MjA2ODExOUMxMkZDQzczRjExNDQ2RSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo3NTM2RUREMzM3REExMUUyQkYxNUNGRThEQ0NBMDM3QSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo3NTM2RUREMjM3REExMUUyQkYxNUNGRThEQ0NBMDM3QSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChXaW5kb3dzKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkY3NEM4MEZBNDhFNUUxMTFBMTMyQ0QzMzg0QjEyQTFGIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkY3N0YxMTc0MDcyMDY4MTE5QzEyRkNDNzNGMTE0NDZFIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+8hImEgAAymJJREFUeNrs3XmYVNW9//u1qhuaGQUFFQQVcMAJjeI84QSITKJxwgFUZs05/9znPve59/zu/f3On7/nDMY5jonJSXISUTQOeaI5ibMnczQ5QYyJMdEA5+gJERDZ63bVnta0d+3qruqu4f0Kaaurqxuooqq+n72+67vlPx80TQAAAADoDCXuAgAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAAABAAAAAAANRXt+Q+AAAAADoGKwAAAAAAAQAAAAAAAQAAAAAAAQAAAABAa+gWgm3AAAAAQKdgBQAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAADI0y0kdwIAAADQKVgBAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAgAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAIAAAAAAAIAAAAAAAaBPdkvsAAAAA6BisAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAAEAAAAAAB5uoWQ3AsAAABAh2AFAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAgAAAAAAAoL11S+4DAAAAoHMCgCABAAAAAB2DFiAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAACAAAAAAAAQAAAAAAAQAAAAAAC0vm4hJPcCAAAA0CFYAQAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAAIAAAAAAABAAAAAEDb6uYuAID2pmr/Fsm9BgAEAABA+xX6tf4oggEAtEMA4NUcANqj4h/413PeQQCgJQMAdwEAtG7RX8cb96G4V4QBACAAAAAGq+5XDf4dZYHbEwMAgAAAAGhg6a/69d1VyZyfJXN/P5IAABAAAAB1K/1V7V9RxbKALFzzqwJJgBgAAAQAAEDfS39V7GrVj+P+3u+NU4G/5z8nCRADAIAAAADoS/Wvql2n+rAokEHmpgInDMiq5b4iAwAAAQAA0NfSv3rdr/qdAXIiQfI7ZiUBbwxgKQAACAAAgL6X/kpVuXGt+wdk4bQgqyQBYgAAEAAAAA0r/VXuj3JSgcr/Y0izOJfOz5G+1p/wj0QMAAACAACg/9V/9dJfZeYBVfufR1m/hR4JZO7qgbkgQAwAAAIAAKAepX9+3e8t+lXOb5lRzkv/D5RGxW+mAt+CADEAAAgAAEDpX7/SP6vutyr+qq1BVUf/S/t3SZNA1o/KiQGMCQIAAgAAdG71n9Xu75b+7iF/T92vMkOCecu8Vh+jIldalS/9SUA6v5EeA9y9ASwFAAABAAA6sfQXGQf+ixz11yv4pO7P6A5SVf8Y4c3cilxa9bpW9ptJwL8goO8NIAYAAAEAACj9+136K/16T9GfORvU17jj68Ox63nlSwLuggAxAAAIAABA6Z91ZfWeH+WW9U7p7y36vU1B1qfSvI0+9MeMBMpNAjL8XX0LAsViAPuDAYAAAAAdVP33q/S3dgArp+jXfpTK+VNZG3vTYZ7epn7zO5R5GL/2GMCYIAAgAAAApX926Z9zyN+5gRLVThMm8kptpdLyXYZH+qUdBqzvSKKDEQOSXGENDK11TBAxAAAIAADQwqW/Xv0rXwbIOeqvH/J36/7MaaEq7w9pnPQ3PZYf7Q5Iyvferyiljf4xi3N9QSCJAeF3yYzzBnhjQFa5z7RQACAAAEBTV/99a/evtfT31v1mI5BStfzhK8f74yP3ZhgIhwUpbU1AyfT6+LvTNKA1BUmr+ldMCwWAwQsAvJACQJ1Lf+E/8C+r9fxEB8SFNuFHr+CV/aWkzo869itfUs5Pljl/Tp3brhN+c3g2sLjWNz8q6SvJKzFA2xug/daywP5gQQwAgIYGAABAo0t/Uaz0jz9VGUf9tdJfWT9KKZXRTZT8EHtHsFuFJ4fxzYb/8PukdT4wkf7NnBigleh2DFCFYwBjggCgQQGA104AaEjpb1b/MrM0V3opHXfhGwf4ky5/aZb+SgsDMskGIo4Dzm+XNdTTc2KA6EdGjTxSb9pRMvqSlGmPkDJOJ5xdt0tZIAYkX2NMEAA0JAAAAOpf/dd+4N/p+bE2+Oqlf9Lqo301vLES9pBQ/TdV3kUAc7yPlPbQHhV3/Et9S0CUBCrH/u0YkFG3S+0YvxsDio8JIgYAAAEAANqq9Neq/EKlf3i8X9mbibWFgOw9ytIcEyTj3yss2GWyqddMAvoG35wYoMyz/4aLBlLb9Rv/FWsbEySyp4WSAQCAAAAAA136iyojPrNKf+34fYHSP4i+QTl1v1LK+1undf74SZMW3bZBlrqevufeP27eLLS62ej+V2kvUG8NLt0kIGWRGGDW7fGIIXNaqIg/Y0wQABAAAKAZq//+jvg0T9Zrtfvr11ilv97tY64DKGWfADjOD9r1Q4cPv2jFDWcsXdo1pPz6P+Nzn/vp888/fe99H33wYfLHlFoOkHHrjlTxRgY9CahK3V8gBkjn8L110oDa9wcTAwCgj+SdBx/BvQAAxUt/0aB2//j6QO/j1wp9b+lfWQdwkoCwTxsc1s4nz58796aVY8aPt/46e/fsefHbjz3/lUf/+vHHSY2dfpThJNA4CcRFutRuGd5AprEh/qrUviXu//GkC6EX99HUUWkGAL2a16aFOnND3fc5/hEDAAEAAJqn9BdZPT/K+DTwhQG99d+t+/XfYsrRMxevXz/16Jk5f9+dO3Y8/9Wv/eAb/7rn093SrMLTst6t+2UNMUD/Xi0bmL8LMQAAGh0A7iIAAEBfS/9q1b9vxGd2z4+eB4zD/E4LkDKO+itlnDcg/uGV/4wZP37+qptPnnuxlIVq4I+3bnv6/gf+/Zlng7173TJdO/xvHL+XcV9QwVSQxAkhiAEAQAAAgBap/ms68G9tAi5Y+uu1vnI+7f0QaEsKet3f+6trSPfZy5ZdfOP1PcOH13onfPDuu0/ec+8vX3wpPWbvJIFkQaD/MUA6tb4bA6xzkxWJAVnlPjEAAAGAAAAAA1f6a4V+eDnNA3r3f37pnxz1T3+CMtp+Zp5++pIN6/efPKk/d8iWn/3sibvu/t2bbwm9e0emzTx1iQH6j3VjgL5uIXOXAmqKAWQAAAQAAKD0L1T6i1pGfFoDebylv3AO/DuH+UXgHPXXa/3A3D8wYeqUpRs2HHXK7PrcM0r9/Ac/3HTPvVvfe8/ay6sngV4lMwaUpBYJtBhQSn6IEwO8+4OtGFBLRxAxAAAIAABQrPofgBGfBdv9A7PXPzCHhAbK6CkaNnLUxTdcd85lS7uGDKnvXRTs3fvSE5ueeeiRv/zndmmW7FkxoBR96tkxLJ39wcQAACAAAMDglP5iANv9k56fIA0DdpNP4JT+yVF/pbcPydIp8+YuXHXL6HH7Nu7u2r1z5/Nf/8b3Hv3apzt3Sm2wT1z3W6kgigHJ4KB0AUEKbwywh41KY36oYH8wABAAAKDJS3+R3e6vl++57f7phB/lK/17/3PI0TMv/9svTDligF7Md3z00Xfuf/DlJ5/cu+ez3gq7VC0GeC5X3n1K2gig6EvpNYwJAgACAAAMeOkvGj/iU/9UmD0/bvXvlv5jxo9bvG7tSRdeUHDEZx1t/cP7m+6996cvfL/3j6HHAOnuEjZiQAPHBFlfIgYAAAEAAOrW7t+YEZ/+nh8tBlRWACo/p2tI9/lXX3XRtdf0YcRnHb371q823nX3lp/8pFLMuzHAf/i/vjEgf0yQ6Ou0UDIAAAIAALRb6S8GY8RnTru/c6Rfn++Zlv69H449++wla9f0c8RnHb356qu9MeCDLe/UJQYUHhPkjwHsDwYAAgAASv+ipb9oxIjPerX7V2LAxEMOWbph3cxTTmm6OzkIXnvm2afuf+CjDz/UYoCnI6jItNBkx3BJSMYEAQABAAD6Vf0P7ohPpZ3qq2i7f+W7ho0aNe/GG85ddlmpq6tp7+09u3f/27cfe/bhR3bt2KFN+8mLAfq00KpjgnJigF7rsz8YAAgAACj9vVc2vN1f1DjiU2/3D+Kf01sdn3rJ/EWrV40aO7Yl7vlP/vKXZx5+5IePbfxs924rBhScFlrDmCCRjhBlTBAAEAAAUPo3sPQX9RvxGRgH++PqvxIhDj322Cv+5raDZ8xouUfhPz/88Kn7H3j92edEoPSTBshapoUW3x8smBYKAAQAAJT+OaW/GNgRn3ELkLfnx9/uP3bChMVrVn/u/DkDP+Kzjt7fsmXjXXf/6rXXzcYeWfLU/Y2aFmqOCUr6hhgTBIAAAABtV/33s91fDNSIz8CY7q+6e3rmfP6KQR/xWUe/+clPN9511+9/9WvZ4DFBokAMYH8wABAAALRh6S+abMSnv/R3Rnz2/u+4s89aum7tfgcd1G6PkVI/ev75J790//Y/vG9PC83pCGJMEAAQAACgb6W/aKYRn4HT7i8qIz4v/5vbjjjxxDZ+vD7bs+fFJzY9/eBDn3z8cbjNt6YxQcLODDWMCSIGAAABAEAbVv8tOuKzZ9SoBTetPHvxomYe8VlHu3fufO7Rr37/G9/8dOdOd1poSevnKWWMCRK5McA7JkjobUJmcc/+YAAEAABovdJftOyIzzMXLZy/ckWrjPiso4+3b3/6oYdf2fSk2ru3yLRQb4OQZ1ooY4IAgAAAgNK/OUd8Tj9h1tIN61txxGcdffj73z9xz70//8EPrTFB1WJAPccEWTGgXmOCiAEACAAAMEClv6h9xKfV7t/wEZ8TJy5aveqkC87nYQ399s23Nt555zs//0VdxgTVY1qodKt/poUCIAAAwGBW//Vt969pxGeg0tuH7f4ibgcKzHZ/Y8Rn5YeUR3xe+fmLl187pKeHh9Xy8xdffOKe+/787ruiwdNC2R8MgABAAADQSqW/aNkRn8efc87SDevGTZzIw5ol2Lv31aefeer+B/6ybZsWA/LGBCXTQo3D/0wLBQACAIA2Lv1F04/4POCwwy7/wm0zTpjFw1rEnt27n//GN7/31a/t2rHDHROUNS20+JignBjA/mAAHRIAjuReANBqpb8oduDf0+4vzPYea1+vcGp9Eff3C3uOp32k357+Wbk8YuzY+StvPHPhpR0y4rOOdnz88XOPfOUHj20M9uyxDuqX0stSa+uXJSchCPdUYkK6Q4H0EaLCWhBoTAwgCQAgAABA8eq/viM+PaW/SHt+zJ7+yjcH8Q8J9G3BesNP5btkV9cZCy/trf47cMRnHW3/05823fulHz//gggC9yTBbgzwLhRIs1/I3TEsjCBRrxggikwKIgkAIAAAoPRvbOkvjJ4f7Ui/NeTH1+5vHvWvbPk1bxnEl6efMGvZbRsmTZvGw1oX723e/Phd9/zHG/+ubwIu2X0+9iBRZ7twH2JA/5uCPBV+kYqfVACggQHgbgIAgNYp/YXZzONkgKwRn0bpL3J7frJLf32sZ2bpv8/EiUs3rJ11zjk8rHX3q9ffeOLue9/fvNkZ/iNLMt3vK3NOIFAgBkRflfoA0KxpoZ4YYF2W1bqBKPRrq1q4CwACAIC2rP6rtvsr4bmQMeKzj6W/cGd6Rv0/0b7hwGn97+7pufDaqy+46kpGfDbwX0sQ/Oh7z2+690v/9cEHegwoOZGgWgzQtwu700LrHAOcJFCllKXMJSEABAAAnVL6i2o9P97SP6vnJ40E5lQf4ZvuH+7uFSLvBF7KKf2T7zrh/DmL1qxixOfA+GzPnh98+7HvfvnRv378cVjNl/ynBfDEgJJ++F+LAaWwSq8lBojspqBakgCFawMLeu5WgAAAoPVKf1FLz09Ou396ll/nTF757f6BNQ/U6fmZNGPG0g3rGPE58Hbu2PHdr37t+9/41892786OAfae4JI0TwzsnEqscTHAe43soBJVDu4PJQwABAAATVv6C+Fr5rFuWWTEZx17fgJf6T9y7Nh5K288a9FCWSrxyA6Wj7Zue+r+B15/5lm1d28p8yTBdulfJAaUpFbi1xIDvEmgSBjwvElTtNZYw8t6/SCAAAAAA1X916Hnp2DpL+KJ/qL2np/yiM9FCy+9eeXwUaN4WJvBn959d9M99/3yxZfi4t6eFipE1PxTypgWGn5JCCMG6PuDq8YA4WwPyEoChUp/HtSiEUj2+T7kTgYBAABavvQXvp6fOA+oIL1x1Z4f43xegfldM048cdnf3HrgIYfwsDabt3/288fvuvt3b74ljLME1DwmqE8xQIjsBQGt1pScF6xogdLHYFDzqCXueRAAAGDQSn9RpxGfgdbuX9OIz6rt/uMOPHDJ+rXHn30WD2vz/ntT6mc/+OGme+7b+t57jZsWWiQGZCUBPQxQgPbhry+L5oHakgAxAAQAAGhU9d8iIz7TbwwvDx0+/MJrr57z+SsY8dkSgr17X9r05DMPPfKX7dtrHRNUMAYI5/RhehGZNRs067i1LFaLdmyRWrxwL5IEWIQBCAAABqj0F41p9xcNHvHZW++FIz73nTCBh7W17N658/mvf+N7X/2XT3fu7P+0UJE9KUjoG4Jzk4AoNBK0k8v6aidOy/1S8RMvkAFAACAAAGiW0l8034jPZV+4ddpxx/Kwtq4dH330nQcffnnTk8GePdLaG+CMCRLm5dpjgEgagqwkIGrfEMwIIPPOkUXq/v7HAO51EAAAoL6lv2i2EZ9Zpf/IsWMXrLr59EvmM+KzPWz9w/ub7vvSz174fu/DW2RaqMiMAXZTkB4DCiYB0cHbAPo/+VRm54GsT6UkAwBWAJhCAAAwMNV/jT0/SqiCpb89t0eEM3/ir6qosndWACoZwGgE6v1UdnWds3TpvBuvZ8Rn+3n3V7964q573v7pTytlvdH8U4rLxGhaqFbrhxGwJDPrfut8YSJ/M4DMKzFlB9SifRvV741K3tlKdYkBZAAQAABgEEt/Ywewcub9RxP903igcpp/zHI/qvjDy+EO4CNPPnnJ+nWM+Gxvb7762hN33/On377jnhBAjwHWIf+CMUDfE6yXknmlqqToFLJKqe/GKvd7svda6JclGQAgAAAYkNJfFBzxaWzzTa9P9gAE9t5f48C/Nb/fN8s/c9fvfpMmLVq9mhGfnfJPNwhee/bZ7zz40Ecfft
[...]
